[2020-01-22 11:05] ghilbrae commented on #134
Just in case it's useful to you, here [04 CSIS - Transport module.zip](https://newrepository.atosresearch.eu/remote.php/webdav/CLARITY/Events/Project%20Events/Plenary%20Meetings/2020-01-14_17%20Project%20Meeting%20(Naples)/Presentations/WP1_WP4%20CSIS/04%20CSIS%20-%20Transport%20module.zip) you can see a bunch of screenshots with this workflow. When in doubt the description above takes precedence

[2020-01-22 12:20] ghilbrae commented on #118
We've created a new issue (#134) to describe the outcome of the integration. I think we can close this one and continue working with Issues #122 and #134

[2020-01-22 12:20] #118 closed

[2020-01-22 15:50] patrickkaleta commented on #134
Ok, so what we need to do on CSIS-side:
1) update the Study type [Advanced Screening: Transport infratructure](https://csis.myclimateservice.eu/taxonomy/term/3895/edit?destination=/admin/structure/taxonomy/manage/study_type/overview) (remove the HC local effects step, remove "External" tab in EE, change the calculation method,...)
2) add [calculation method](https://csis.myclimateservice.eu/admin/

[2020-01-23 07:55] p-a-s-c-a-l commented on #134
Regarding 6) think we only need one extended iFrame entity if we can generate the the app's URI automatically from context information. Therefore we have to agree on an URL schema, e.g. https://clarity.saver.red/en/simmer/simulation/${id}/${step}/${component} with
- ${id} = CSIS studyId? CSIS studyUUID? or TA Application ID?
- ${step} = preferably the EU-GL taxonomy name
- ${component} = table, su

[2020-01-23 09:08] ghilbrae commented on #134
The main developer of the TM is @rapto so he'll be the one to talk to.

That was exactly our idea so the CSIS would not need to compose anything, only get the PDF and store it or send it to the user. If you think it would be easier or less problematic going down the path of screenshots we are of course open to suggestions but how would that work? Is the CSIS able to take screenshots right now?

[2020-01-23 09:35] p-a-s-c-a-l commented on #134
In theory yes, but this feature is rather unreliable and not compatible with all browsers. We had to implement [a lot of workarounds](https://github.com/clarity-h2020/csis-helpers-module/issues/9#issuecomment-544887940). You can give it a try, but I wouldn't count on it.

[2020-01-23 09:36] p-a-s-c-a-l commented on #122
The iFrame on [this page](https://csis.myclimateservice.eu/study/55/step/1952/view/maps) is still not working in **Firefox**:

`Laden verboten durch X-Frame-Options: "SAMEORIGIN" von "https://clarity.saver.red/mapa_elementos/", Website erlaubt keine quellübergreifende (cross-origin) Frames von "https://csis.myclimateservice.eu/study/55/step/1952/view/maps".`

[2020-01-23 15:50] p-a-s-c-a-l commented on #104
I added to possibility to deselect (x) option boxes:

![map-component](https://user-images.githubusercontent.com/1788226/72999866-4498ad00-3e00-11ea-9d3b-af28c9a8b99c.gif)

You can try it [here](https://csis.myclimateservice.eu/apps/map-component/build/DataPackagePreviewMap/?host=https://csis.myclimateservice.eu&study_area=POLYGON%20((14.735388874433%2041.096530514014,%2014.735388874433%2040.50840

[2020-01-23 20:21] fgeyer16 commented on #122
On my firefox  the map seems to be shown:
![Bildschirmfoto von »2020-01-23 21-07-04«](https://user-images.githubusercontent.com/25331450/73019801-9b17e280-3e24-11ea-84ff-cc7341a1b10c.png)

Firefox 68.4.1esr on Debian 9

This seems to be a Browser version problem. csp frame-ancestor  is the newer headerto use since the x-frame options seems to be a little cumbersome. (https://developer.mozilla.org/

[2020-01-23 20:22] fgeyer16 commented on #122
Anyway the X-Frame-Options: "SAMEORIGIN" headershould be removedfrom clarity.saver.red.

[2020-01-24 10:15] patrickkaleta commented on #130
I consider this done now. Anonymous users see the list of published studies and can access every step of those studies. They cannot take screenshots, add/remove anything from the studies or generate the final report.

### What has changed:
- the StudyInfo JSON object has now 2 new boolean fields `is_anonymous` and `is_member` to indicate the status of the user viewing the Study. This information i

[2020-01-24 11:13] DenoBeno commented on #130
What observers have on top is that they also can see the unpublished
studies.

On Tue, 21 Jan 2020 at 18:00, Patrick Kaleta <notifications@github.com>
wrote:

[2020-01-24 11:30] patrickkaleta commented on #130
That is now also possible for anonymous users, if the Study owner shares the URL of those unpublished studies.

IMO people will prefer using this method, since it doesn't require them to create an account on our website, "just so that they can become an observer and not be able to actually do something".

[2020-01-24 12:06] DanielRodera commented on #8
Hi @p-a-s-c-a-l ,
Sorry for the inconveniences,
It is weird because I can log in without problems as well as other colleagues, but sometimes they cannot connect and they are in the same network as me. I am working on it, I will let you know.

[2020-01-24 14:37] claudiahahn commented on #104
That is great. Thank you!

[2020-01-24 14:41] claudiahahn commented on #104
another comment:
There is no description for the background layers. Would it be possible to include an information icon after every layer and if the user clicks on it there would be some information about the layer (meaning, where does it come from, referencing the source...,)? References need to be included anyway I think.

[2020-01-24 17:20] DenoBeno opened #135 "Provide a way to import/export/syncronize content"
As we are moving from a single site to devel/test/public schema, we need to establish some way to syncronize part of the content across sites.

- [ ] One possibility to do this is with "migration" module. This is sure to work but requires quite a lot of configuration.
- [ ] Another posibility may be the content-synchronization module. This one provides drush commands for import/export of various c

[2020-01-24 17:20] DenoBeno commented on #135
@fgeyer16 , WDYT?

[2020-01-27 07:19] p-a-s-c-a-l commented on #122
I'm using Firefox 72.0.2 (64-Bit).

[2020-01-27 07:43] p-a-s-c-a-l commented on #130
We have to keep in mind that "Transport Screening" studies like [this one](https://csis.myclimateservice.eu/study/55/step/1952/view/maps) require the user to be logged-in to be able to access the [Transport Application](https://github.com/clarity-h2020/csis/issues/122). So we cannot publish those studies. Or anonymous read-only access has to be implemented in the TA Application. WDYT @ghilbrae ?

[2020-01-27 07:54] p-a-s-c-a-l commented on #8
Yes, same for me here. Sometimes it's working although extremely slowly. ATM it's not.

`tracert ci.clarity-h2020.eu`tells me that there is a timeout at `po-1002.ce02.ams-01.nl.leaseweb.net [81.17.33.135]`.

[2020-01-27 08:05] fgeyer16 commented on #135
I only read from the content-synchronization now, so I do not have any practical "feeling" how it works and what could be the pitfalls. And I am a great fan of Drupal 8's migrate module so my opinion is likely biased ;-).

I think the need to do configuration is the advantage and disadvantage of the migrate module at the same time as the easy use of the content-synchronization is its advantage and

[2020-01-27 08:23] p-a-s-c-a-l commented on #104
ATM you can find the complete description of the resources shown on the map in the "Data Tab". O.K., this is not so convenient. Perhaps we can show at least a summary of the resource description as tooltip in the layer box.

[2020-01-27 08:42] claudiahahn commented on #104
That would be very much appreciated by the user, I think. Also refering to the data tab for more information would be helpful.
However, so far under the data tab there are only the hazard resources, not the background layers listed.

[2020-01-27 08:44] fgeyer16 commented on #122
what says security.csp.enable at about:config in firefox?

[2020-01-27 08:45] claudiahahn commented on #104
when clicking on one hazard layer in the data tab, the information is being shown at the bottom...but if you do not know that, you think there is no information. Would it be possible to display the information right below the resource, that was selected?

[2020-01-27 09:34] p-a-s-c-a-l commented on #104
@patrickkaleta @fgeyer16
See comment [above](https://github.com/clarity-h2020/csis/issues/104#issuecomment-578646346). Would that be possible? Claudia is right, the current behaviour isn't very user-friendly.

[2020-01-27 09:36] p-a-s-c-a-l commented on #122
![grafik](https://user-images.githubusercontent.com/1788226/73163757-e6feac00-40f0-11ea-8e27-8a2015bf3918.png)

[2020-01-27 11:30] ghilbrae commented on #130
As far as I know, the Transport Module defers to the credentials sent by the CSIS to allow a user to access/see the studies, so in principle there should be no issue. But the best person to answer this would be @rapto who has implemented it.

[2020-01-27 12:12] p-a-s-c-a-l commented on #130
Yes, if they are not logged-in (anonymous), users will see the login screen instead:

![grafik](https://user-images.githubusercontent.com/1788226/73173858-9f831a80-4106-11ea-86c4-e5236b44c869.png)

[2020-01-30 15:07] claudiahahn commented on #104
under the "exposure evaluation" tab: when selcting population, the unit above the legend is "days".
![wrongUnit_inMap](https://user-images.githubusercontent.com/45260352/73461511-8edada80-437a-11ea-8109-e2887ba7b686.PNG)

[2020-01-30 17:02] p-a-s-c-a-l commented on #104
AFAIK the legend is generated by EMIKAT WMS, so this has to be changed by @humerh

[2020-01-30 18:44] luis-meteogrid commented on #130
Right now there is no possibility of anonymous access to the system. If necessary we can incorporate it into the modifications to be made. An alternative, which I don't know if it is possible, would be that when selecting an open transport study, CSIS performs an automatic login with a default user (eg: 'public'); into the Transport Module we can grant this user access in read mode to all the stud

[2020-01-30 18:53] luis-meteogrid commented on #134
I think the best way to proceed by now is follow Pascal's idea, let agree on an URL schema. We are right now developing the new screens needed for vulnerability and risk, so I'll be back next week with the proposed schema.

[2020-01-31 14:09] p-a-s-c-a-l commented on #130
Do we really want to allow anonymous user to view **all** published studies? Is there a possibility to restrict anonymous access to a small set specific studies we want use to showcase the system?

[2020-01-31 14:22] p-a-s-c-a-l commented on #127
There are no cancel buttons. Is this a general problem of the [theme](https://github.com/clarity-h2020/clarity-theme/issues)

![grafik](https://user-images.githubusercontent.com/1788226/73546342-5b14b900-443d-11ea-955e-91727be349b3.png)

[2020-02-03 08:01] DenoBeno opened #136 ""Cannot load a NULL ID" warning"
I added a couple of presets to https://csis.myclimateservice.eu/study/18. On a save, the following warning was shown:

[code]

I got this once for each new preset. Presets were saved OK, not sure if this caused any other problems. This is what I get in the logs:

`Warning: assert(): Cannot load a NULL ID. failed in Drupal\Core\Entity\EntityStorageBase->load() (line 249 of /app/web/core/lib/Drupal/

[2020-02-03 08:21] DenoBeno opened #137 "Future exposure"
At the moment, we have no "future exposure" layers in the pan-european data package. However, we may get them in the swedish "expert" package. Two issues to think about:

1. If the data package does provide future exposure for any of the layers, will this be handled corectly with "ressources template"? (recommendation: we should test with swedish data package)

2. (How) could we allow users to def

[2020-02-03 08:23] DenoBeno commented on #137
Of course, we could just hide the "select scenario" in exposure step, but I don't think tha tthis is necessary. Maybe jus tmention it in the text somewhere?

[2020-02-03 08:28] DenoBeno opened #138 "No impact shown for Lodz study"
No impact table & map layer is shown for this study: https://csis.myclimateservice.eu/study/18

It's Lodz area (Łódźin Polish), so there *could* be a problem with the way it's written.

[2020-02-03 08:31] patrickkaleta commented on #138
Yes that could be the reason. Heinrich just told me that he found another Study where the name of the area was the cause of the problem. I think we had such a problem in the past and I thought that this was already fixed back then. I'll look for the corresponding issue.

[2020-02-03 08:35] humerh commented on #104
Currently this link goes to "meteogrid-Service". So I must forward this issue to @ghilbrae

[2020-02-03 08:38] DenoBeno commented on #136
I just tried this with another study - no error. https://csis.myclimateservice.eu/study/29

[2020-02-03 08:51] ghilbrae commented on #104
I've checked all the layers related to population on geoserver and none has that style.

I've checked the population at Exposure Evaluation for the Example northern EU study and what I've found is that the layer being shown for population is this one:

https://clarity.meteogrid.com/geoserver/europe/wms?&service=WMS&request=GetMap&layers=europe%3API_rx5day_rcp85_20710101-21001231_ensmean&styles=&fo

[2020-02-03 08:55] patrickkaleta commented on #104
You can find the problem in the Exposure step in this study: https://csis.myclimateservice.eu/study/18/step/1904/view/maps

when you select the "European population distribution" layer, 3 requests are sent to clarity.meteogrid. One of them is for the wrong legend: https://clarity.meteogrid.com/geoserver/europe/wms?service=WMS&request=GetLegendGraphic&version=1.1.0&format=image%2Fpng&width=20&heigh

[2020-02-03 09:01] ghilbrae commented on #104
Yes I've noticed, the thing is that neither of those requests are requesting population, they are all referred to PI_rx5day_rcp85_20710101-210001231_ensmean which is not population. So is the right layer being requested from geoserver?

[2020-02-03 09:10] patrickkaleta commented on #127
yes, it is: https://github.com/clarity-h2020/clarity-theme/issues/11#issuecomment-543754611
I hope that the new theme update that Alejandro is working on (according to Miguel) will finally fix this.

[2020-02-03 09:16] p-a-s-c-a-l commented on #104
The resource title (population) does not match the configured layer (service path): https://github.com/clarity-h2020/map-component/issues/82#issuecomment-581312847

[2020-02-03 09:55] DenoBeno commented on #104
FYI: I have pinned this issue to https://github.com/clarity-h2020/csis/issues now so that it's easier to find it.

[2020-02-03 14:18] patrickkaleta commented on #136
I fixed it. Apparently, when adding paragraphs, first an empty paragraph is created and then shown in the UI form to be filled out. For this empty paragraph no references yet exist, which is why the csis-helpers module then triggers the warning message in the log files.

[2020-02-03 14:18] #136 closed

[2020-02-03 14:36] patrickkaleta commented on #130
I'm not a big fan of that idea. Honestly, I would keep the CSIS as restrictive as possible for anonymous users (they still have the marketplace, which is targeting the "broader public") and leave it for more experienced users, who will have an account.

AFAIK Drupal on it's own does not provide a feature like that. Maybe we could use the [permission by terms](https://www.drupal.org/project/permiss

[2020-02-04 07:24] p-a-s-c-a-l commented on #23
Those are the the new DNS entries for the CSIS [DEV & PROD](https://github.com/clarity-h2020/csis/issues/113) system:

DNS | IP | Fallback DNS
-- | -- | --
csis.myclimateservices.eu | 62.218.164.247 | csis.ait.ac.at
csis-dev.myclimateservices.eu | 62.218.164.246 | csis-dev.ait.ac.at
ckan.myclimateservice.eu | 62.218.164.246 | csis-dev.ait.ac.at
geoserver.myclimateservices.eu | 62.218.164.246 | csi

[2020-02-04 12:09] patrickkaleta opened #139 "Give users option to order report images in the summary"
As proposed by @DenoBeno it would be nice if users could somehow sort the report images which they created.

This can be solved quickly by adding a "weight" field to the report image. Users can then assign a weight from -10 to 10 (default will be 0) when they take a screenshot and even change that value later via the Edit-button in the "Summary" tab.

Report images in the Summary are displayed by

[2020-02-04 12:23] patrickkaleta commented on #139
Done. Already existing report images don't have a weight assigned (unless the user manually changes it now), so in the Summary tabs they will be always listed below report images with a weight value assigned,

[2020-02-04 12:23] #139 closed

[2020-02-04 14:15] p-a-s-c-a-l commented on #23
csis.myclimateservices.eu has to **temporarily**  point to 62.218.164.246 instead of  62.218.164.247 until the question of [migration](https://github.com/clarity-h2020/csis/issues/135) is resolved.

[2020-02-04 14:22] p-a-s-c-a-l commented on #135
Since we don't want users to enter data into the prod system when is is not yet synchronised with the dev system, we **temporarily** point both csis.myclimateservices.eu  and csis-dev.myclimateservices.eu  to the dev system. See also https://github.com/clarity-h2020/csis/issues/23#issuecomment-581929030 .

Once the migration strategy has been implemented, we'll use csis.myclimateservices.eu for th

[2020-02-05 09:14] RobAndGo opened #140 "Improving the text content within CSIS and the data-package resources"
It seems there is a desire to improve the text within CSIS and the data-package resources, perhaps to make it more understandable to the user.

In order to make things clear to me as to what is expected, I will start with an example of the data-package resources within the European Wide Data Package. At the moment the indices are described in terms of their definitions. e.g. for Summer Days:

[cod

[2020-02-05 10:05] p-a-s-c-a-l commented on #140
At leat that's what I had in mind. :-)

[2020-02-05 10:50] RobAndGo commented on #140
I could expand upon this a bit further, e.g. for Tropical nights:

[code]

Or would this be too much text?

[2020-02-05 11:06] claudiahahn commented on #140
I like the additional information.
Where would that text appear? Only when the user has a look at the metadata of the resource (under the data tab?)? Or will it be displayed somewhere else as well?

[2020-02-05 14:15] RobAndGo commented on #140
Actually, I don't know where the text will appear.

I decided perhaps it is more important to explain the concept of the ensemble mean/standard deviation in the description, so I have added the following:

[code]

This text is text that I have used in CKAN - I'm assuming CSIS does not automatically extract any text from CKAN.

[2020-02-06 11:33] ghilbrae commented on #130
We've discussed the issue of the integration of the "anonymous" user view between the CSIS and the TM and we think that the better approach would be to have the CSIS send this configuration to the TM so that the study can be anonymously accessed there too.

WDYT?

[2020-02-06 12:35] ghilbrae opened #141 "User access to external layers protected by user/passwd"
We are working on the Resccue DP + Study and we've run into a bit of a problem or doubt regarding how private information is going to be handled by the CSIS.

So, we have a bunch of layers that are private, we can add them to CKAN as private data so no one can access them, the thing is that if we add them to some place that is protected by user/passwd will the CSIS be able to access them? I suppos

[2020-02-06 12:57] ghilbrae opened #142 "CSIS User permissions and access to tabs and creation links"
I'm trying to write a short guide for some of our DC4 users and I'm rather confused about the access options and permissions of certain functionalities.

I've been using two users to compare edit/creation possibilities: angela and meteogrid. The confusion comes from this:
![content1](https://user-images.githubusercontent.com/1615745/73938607-ebdd1000-48e7-11ea-82b9-28307eb5c3bd.png)

Here this use

[2020-02-06 13:27] patrickkaleta commented on #142
You're right. This needed fixing. Logged in users without special roles (like Meteogrid user) cannot create DPs or Resources, but they were able to view the creation page for them. That was a mistake and I updated the respective permissions. Thanks for pointing that out.

About the "Important Links" at the bottom: I guess we need to revise them. They've been added a while back, so they might not b

[2020-02-06 13:31] ghilbrae commented on #142
Great! Thanks for your response :)

[2020-02-06 13:32] #142 closed

[2020-02-06 13:59] p-a-s-c-a-l commented on #141
no :-)

no :-)

[2020-02-07 06:18] p-a-s-c-a-l commented on #108
done

[2020-02-07 06:18] #108 closed

[2020-02-07 06:19] #59 closed

[2020-02-07 06:39] p-a-s-c-a-l commented on #113
CSIS has been copied to the new DEV and PROD servers is nor reachable under
- https://csis-dev.ait.ac.at/
- https://csis.ait.ac.at/

[DNS entries](https://github.com/clarity-h2020/csis/issues/23#issuecomment-581776771) for [**csis-dev**.myclimateservices.eu](https://csis-dev.myclimateservices.eu) should be updated next Monday and for [**csis**.myclimateservices.eu](https://csis.myclimateservices.e

[2020-02-07 10:37] DenoBeno commented on #82
I don't think that we'll ever work on this. Change to "wontfix"?

[2020-02-07 14:03] p-a-s-c-a-l commented on #120
- Moving CI to new AIT DEV Server
- [ATOS Geoserver](https://github.com/clarity-h2020/ckan/issues/23) deployed at https://geoserver.myclimateservice.eu

[2020-02-07 14:03] #120 closed

[2020-02-07 14:31] p-a-s-c-a-l commented on #113
https://csis-dev.ait.ac.at/ and https://csis.ait.ac.at/ are currently down due to some [proxy erros](https://github.com/clarity-h2020/docker-compose-letsencrypt-nginx-proxy-companion/issues/7) that have to be resolved first.

[2020-02-10 08:09] Itsman-AT commented on #113
Anything I can help with here? Is this proxy something our ITO needs to configure?

And: I checked with our ITO and port 80 incoming should already be open.

[2020-02-10 09:48] negroscuro commented on #23
Are those the new IP's I have to ask my IT to change domains to?

[2020-02-10 10:56] p-a-s-c-a-l commented on #113
@Itsman-AT no, atm nothing you can help with, thanks.

[2020-02-10 11:00] p-a-s-c-a-l commented on #23
@negroscuro Yes, please wait for my confirmation. I'll inform the users about the expected downtime first.

[2020-02-11 09:34] DenoBeno opened #143 "Change the resource description from plain text to formatted text"
Request form Robert/ZAMG (nice to have)

[2020-02-11 10:43] p-a-s-c-a-l commented on #135
@fgeyer16 you can test the synchronisation now between https://csis-dev.ait.ac.at/ and https://csis.ait.ac.at/

[2020-02-11 12:30] p-a-s-c-a-l commented on #113
@negroscuro Can you please register csis-dev.myclimateservice.eu to 62.218.164.246?

[2020-02-12 09:52] patrickkaleta commented on #135
I tested the [Config Split](https://www.drupal.org/project/config_split) module mentioned by @fgeyer16 . I think this is what we should use for handling import/export of Drupal configuration, since it allows us to define e.g. which modules to be active only in Dev-environment, or that CSS and JS files should be aggregated on the Prod-Server etc, etc.

I will run it on our two new servers with @fge

[2020-02-12 09:59] patrickkaleta commented on #135
For the import/export of actual content I'll now look into option 2 proposed by @DenoBeno ([content synchronization](https://www.drupal.org/docs/8/modules/content-synchronization/drush-commands) with drush).

I think that should be our preferred way of migrating content, since it's flexible and doesn't require any configuration. Should it sometimes fail (due to changed data models in Dev, etc) we

[2020-02-12 10:06] maesbri opened #144 "Aghios Dimitrios Study Case: Add as owner"
In order to be able to take the screentshots of the forms (in edit mode) for deliverable D1.4 I need my user in CSIS added as study case owner.

[2020-02-12 10:10] p-a-s-c-a-l commented on #135
Just an idea: If we commit the configuration into our [private GitLab repo](https://gitlab.atosresearch.eu/ari/clarity-csis-drupal) we can probably set-up some git-lab pipelines that trigger integration tests and automated deployment.

[2020-02-12 10:11] p-a-s-c-a-l commented on #144
done

[2020-02-13 10:24] negroscuro commented on #23
It is done!

csis-dev.myclimateservices.eu     62.218.164.246
ckan.myclimateservice.eu             62.218.164.246

Done!

[2020-02-13 12:22] ghilbrae commented on #134
@patrickkaleta I'm attaching a short document with the text that needs to change as detailed on the first comment (https://github.com/clarity-h2020/csis/issues/134#issue-553465544).

[csis_tranpost infrastructure_rev.docx](https://github.com/clarity-h2020/csis/files/4198250/csis_tranpost.infrastructure_rev.docx)

Let us know if you have any questions.

[2020-02-14 09:08] patrickkaleta commented on #135
Sounds good, but doesn't work...
Seriously, I don't know how this Content Sync module can be marked as a stable version. To me this is a alpha/beta version of an abandonded module (maintainers haven't committed anything or responded to any issues in almost a year). Drush commands are [not available](https://www.drupal.org/project/content_sync/issues/2873074) and the patches to fix this bug only wo

[2020-02-14 09:19] ghilbrae commented on #141
Closing this issue, as it has already been addressed.

[2020-02-14 09:19] #141 closed

[2020-02-14 11:43] maesbri commented on #144
I cannot see the "edit" button for each of the steps in order to open the corresponding forms. Maybe is it because of being "team member" instead of "owner"? (for the naples DC that was the case and I was able to open the forms in "edit" mode)

![image](https://user-images.githubusercontent.com/9677881/74528070-94faba80-4f27-11ea-99aa-e1b9cfa894bf.png)

[2020-02-14 11:46] patrickkaleta commented on #144
Yes, it's not visible for you, because you're "just" a team member and not the owner. I made you an owner now, so you should be able to see the button now.

[2020-02-14 13:02] maesbri commented on #144
thanks ... although either I am doing something wrong or there is a bug, but even being owner I cannot see the edit feature in the forms.
I logged out and in again just in case, but still the same issue.

[2020-02-14 13:07] patrickkaleta commented on #144
okay, now I found the real problem. The user **miguel.esbri** was added to this study, but I'm guessing you're using **miguel.esbri@ atos.net**.

I switched the two users in that study. Please try again now :)

[2020-02-14 14:57] maesbri commented on #144
thanks, now it works :)

[2020-02-14 14:57] #144 closed

[2020-02-17 08:32] patrickkaleta commented on #135
**[Config Split module](https://www.drupal.org/project/config_split) tested on our 2 new servers and it works as hoped.**

I'll write a more detailed "best-practice issue" about how to import/export configuration later. Here's just a short summary:
- configuration will be stored as yaml files in two directories (`/app/config/sync` and `app/config/dev_sync`), so we can push/pull it via our private

[2020-02-17 08:33] patrickkaleta commented on #135
As for the import/export of content, after discussion with @DenoBeno and @fgeyer16 I will now look into these two modules: [Structure sync](https://www.drupal.org/project/structure_sync) and [Features](https://www.drupal.org/project/features)

[2020-02-17 14:38] patrickkaleta commented on #134
New texts are now shown instead of the default EU-GL taxonomy term texts. For that I updated the Study templates of the "Advanced Screening: Transport Infrastructure" Study type.

**BTW**: Custom Introduction texts can now also be added for other Study type templates as well. If the `Step description` field of a GL-template is filled with text, it will be displayed in the Study **Introduction**, *

[2020-02-19 10:43] p-a-s-c-a-l commented on #8
Few notes for deploying the Jenkins and the proxy properly:

Deploy Jenkins on new DEV Server and [cypress.io UI integration Tests](https://github.com/clarity-h2020/csis-technical-validation/issues/3)

[2020-02-19 10:45] p-a-s-c-a-l commented on #61
Please update the wiki page when the task [Export Geoserver layers from MTG to ATOS](https://github.com/clarity-h2020/ckan/issues/23) is completed.

[2020-02-19 10:46] #82 closed

[2020-02-19 11:03] p-a-s-c-a-l commented on #91
Can this be considered done?

[2020-02-19 11:06] p-a-s-c-a-l commented on #98
Can this be closed? Are we really going to need this? For which purpose?

[2020-02-19 11:08] p-a-s-c-a-l commented on #102
Can this be closed?

[2020-02-19 11:09] p-a-s-c-a-l commented on #110
Can this be closed?

[2020-02-19 11:12] p-a-s-c-a-l commented on #114
Can this be closed? I don't think that any external non-admin users will create any showcases, adaptation options, or twins. User-generated content now going in to marketplace.

[2020-02-19 11:13] p-a-s-c-a-l commented on #127
Closing in favour of https://github.com/clarity-h2020/csis/issues/104

[2020-02-19 11:13] #127 closed

[2020-02-19 11:16] p-a-s-c-a-l commented on #122
Closing in favour of https://github.com/clarity-h2020/csis/issues/134

[2020-02-19 11:16] #122 closed

[2020-02-19 12:19] p-a-s-c-a-l commented on #132
This is the expected behaviour. 😀

The reason for this is that for this **Basic** Screening Study, the [European Wide Data Package for Automated Screening Studies](https://github.com/clarity-h2020/data-package/milestone/1) is used instead of a [Basic European Wide Data Package for Basic Screening Studies](https://github.com/clarity-h2020/data-package/issues/65).

[2020-02-19 12:19] #132 closed

[2020-02-19 12:23] p-a-s-c-a-l commented on #143
IMHO this is needed for https://github.com/clarity-h2020/csis/issues/140

[2020-02-19 12:25] p-a-s-c-a-l commented on #140
no way 😁
sorry, you have to copy & paste

[2020-02-19 12:33] p-a-s-c-a-l commented on #138
Addressed in https://github.com/clarity-h2020/emikat/issues/29#issuecomment-553431127 and https://github.com/clarity-h2020/docker-drupal/issues/128

[2020-02-19 12:33] #138 closed

[2020-02-19 12:34] p-a-s-c-a-l commented on #113
DEV and PROD Docker hosts are now operational.

[2020-02-19 12:34] #113 closed

[2020-02-19 13:57] p-a-s-c-a-l commented on #60
@patrickkaleta Could you please restore this working behaviour: External Tab with EEA iFrame in IAO step, remove separate step "EEA City Factsheet" that has nothing to do with EU-GL.

![grafik](https://user-images.githubusercontent.com/1788226/74840868-066faa00-5328-11ea-85e5-d8b6ae3c7819.png)

The "EEA City Factsheet" tab is broken: https://csis.myclimateservice.eu/study/35/step/1525/view/externa

[2020-02-19 14:33] p-a-s-c-a-l commented on #130
O.K. if this is easy to implement, we should go for it. Otherwise we simply unpublish all studies that are not quality assured and guaranteed to work.

[2020-02-19 14:53] p-a-s-c-a-l commented on #140
Who's going to take care about the descriptions of the resources related to the RA/IA and HC/LE EMIKAT generated datasets? @humerh or @RobAndGo

E.g. see https://github.com/clarity-h2020/data-package/issues/16#issuecomment-572068578

[2020-02-19 15:03] p-a-s-c-a-l opened #145 "Prepare CSIS BETA Release"
Here collect all **SHOWSTOPPER** issues that **must** be resolved in order to make a public release of CSIS. Sure, we can work with [Milestones](https://github.com/clarity-h2020/csis/milestones) and the [Project Board](https://github.com/orgs/clarity-h2020/projects/2), but this additional issue gives the high priority tasks more visibility.

In this regard, I want to close also all issues that don

[2020-02-20 14:12] claudiahahn commented on #104
Following the link “Streams in Europe” from the European datapackage list of resources  (when selecting the data package for a study) leads to the Urban Atlas link:

![image](https://user-images.githubusercontent.com/45260352/74941339-228c4d80-53f3-11ea-827b-5b142c167162.png)

That is probably a mistake. Should it lead to https://land.copernicus.eu/imagery-in-situ/eu-hydro/eu-hydro-river-network-d

[2020-02-20 15:08] p-a-s-c-a-l commented on #140
Robert's reply:

[2020-02-21 15:00] patrickkaleta opened #146 "Revising "Data" tab"
Post from @DenoBeno back in October 2019:

[2020-02-21 15:18] patrickkaleta commented on #91
Basically yes. I implemenent this feature in this [branch](https://github.com/clarity-h2020/csis-helpers-module/tree/feature/csis091-dp-filter) of the csis-helpers module. I just need to merge it into Dev. I wanted to wait, since I hoped for some more data packages in the system. With this feature enabled, some study types now might show just one available DP or none at all.... but it is what it i

[2020-02-21 15:23] patrickkaleta commented on #98
I don't think we will have the time to integrate this module into our system (at least I won't have the time for it).

[2020-02-21 15:35] patrickkaleta commented on #110
From the response you got from the module author on that [issue](https://www.drupal.org/project/chart_suite/issues/3086815), it seems like his module cannot work with external data (the other module he proposed as an alternative is unfortunately only available for Drupal 7).

So for this module to work, we would need to store the actual data as files on our Drupal site. Question is, how to do this

[2020-02-21 15:37] patrickkaleta commented on #114
No, I'm afraid we still need to decide whether or not anonymous users should really be able to see all published studies or just a couple of selected ones (the demonstrator cases for example).

[2020-02-21 15:50] patrickkaleta commented on #143
[This](https://www.drupal.org/project/drupal/issues/2843108#comment-12069958) might be what we need to do in order to achieve this. I will test it locally next week.

[2020-02-21 15:56] patrickkaleta commented on #60
I will do that next week.

[2020-02-24 12:24] patrickkaleta commented on #60
I removed the EEA step from all Study type templates  and instead placed the EEA iFrame in the "External tab" of the IAO step.

Since already existing Studies are not affected by updates of the corresponding Study templates, I went over all published Studies and removed the EEA step manually.
**However,** I have not yet added the [EEA iFrame](https://csis.myclimateservice.eu/node/1488) into the "E

[2020-02-24 13:51] p-a-s-c-a-l commented on #60
As far as I can see, the URL at EEA side did not change. Probably a problem with [our proxy configuration](https://github.com/clarity-h2020/docker-compose-letsencrypt-nginx-proxy-companion/issues/5#issuecomment-590327537). @therter will have a look at this.

[2020-02-25 12:43] patrickkaleta commented on #91
Done. The csis-helpers module now shows only published DPs with a calculation method fitting the selected Study type of current Study.

ATM for the following Study types we have these DPs:
1) Basic Screening: General
    - [RESCCUE - Barcelona Climatic Projections](https://csis.myclimateservice.eu/node/2198)
2) Adv. Screening: Urban Infrastructure
    - [European Wide Data package](https://csis.my

[2020-02-25 12:43] #91 closed

[2020-02-25 19:30] therter commented on #60
The [iFrame](https://csis.myclimateservice.eu/study/35/step/1526/view/external) should now work

[2020-02-26 07:18] p-a-s-c-a-l commented on #60
What caused the problem?

[2020-02-26 11:32] claudiahahn commented on #104
No information available for background and default layers!
Nothing is displayed for layer called “Urban Atlas 2012”
Some layers are listed twice – under default and under background layers (e.g.: Dense urban farbric spaces in Europe)

@negroscuro the "dense urban fabric" layers etc. are the old ones still, right? They were not yet updated, right?

How are the default layers defined (generated), a

[2020-02-26 11:38] claudiahahn commented on #104
can someone provide the meta data (references/sources) for the background and default layers?
I might need that for the workshop in Linz.

Why is there a differentiation between background and default layers?
are the default layers being used for the advanced screening (local effect calculation) and the background layers available just for additional information?

[2020-02-26 13:36] p-a-s-c-a-l commented on #104
Yes, [Background Layers](https://csis.myclimateservice.eu/taxonomy/term/5238) are present in all EU-GL Steps. They are not specifically listed on the [Data Tab](https://csis.myclimateservice.eu/study/33/step/1513/view/data) of a particular step, because they aren't assigned to a particular step.

Sorry, the term 'default' is misleading, as explained also [here](https://github.com/clarity-h2020/map

[2020-02-27 22:07] claudiahahn opened #147 "CSIS demo for workshop in Linz"
@humerh, what are the units for the mortality layer?
![grafik](https://user-images.githubusercontent.com/45260352/75492021-29006380-59b7-11ea-8e5a-bb47bba6e948.png)

[2020-02-28 09:09] p-a-s-c-a-l commented on #102
Duplicate of https://github.com/clarity-h2020/csis/issues/146

[2020-02-28 09:09] #102 closed

[2020-02-28 09:20] patrickkaleta commented on #134
The [TM trigger](https://github.com/clarity-h2020/csis-helpers-module/issues/19) has now been implemented in the csis-helpers module.

[2020-02-28 12:47] patrickkaleta commented on #143
Sadly, that was not what we needed.

**So, the question is how badly we need this feature?**
In theory, we could just add the original `body` field back to the resources, because it is of type "formatted text" and with a short script (10 lines of code) copy the content of all old `description` fields into the new `body` fields. Problem is that these two fields are not quite the same, so during thi

[2020-02-28 13:16] patrickkaleta commented on #146
Resposible views for the current implementation:
- [Resource preview at the bottom of Data tab](https://csis.myclimateservice.eu/admin/structure/views/view/rest_node/edit/rest_export_3)
- [List of all resources in DP & step](/admin/structure/views/view/step_data_collection_2/edit/entity_view_3)

[2020-03-02 09:15] patrickkaleta commented on #143
@RobAndGo FYI, here are the details for the new resource field.

[2020-03-02 10:10] patrickkaleta commented on #143
**Proposed change is implemented.** DP resources now have the `body` field (labelled as "Description - formatted"), where descriptions should be entered in from now on. This new fields offers better possibilities to format texts.

[2020-03-02 10:10] #143 closed

[2020-03-02 12:15] p-a-s-c-a-l commented on #147
AFAIK damage quantity = number of dead.

[2020-03-03 11:05] claudiahahn commented on #104
Information about the background layers should still be listed somewhere, I think. Why not displaying it under the data tab as well? or/and including an info button behind each layer, which links to the description (references etc.) of the layers (as discussed before here). That was just discussed with @DenoBeno @mattia-leone @RobAndGo

[2020-03-03 14:22] p-a-s-c-a-l commented on #104
Information on Background Layers is available in the [data package](https://csis.myclimateservice.eu/node/682/), but currently this information is not shown in the study:

![grafik](https://user-images.githubusercontent.com/1788226/75784524-9a973380-5d62-11ea-99d4-cbf96fa04e60.png)

So perhaps we could include  the the data package view in the data tab of the study. WDYT @patrickkaleta ?

[2020-03-03 16:43] patrickkaleta commented on #104
I agree. The current Data tab doesn't provide enough information about the DP and it's resources. I added a "Data" display mode to the [DP](https://csis.myclimateservice.eu/admin/structure/types/manage/data_package/display/data) and [DP_resource](https://csis.myclimateservice.eu/admin/structure/types/manage/data_package_metadata/display/data) entities, which control what is shown on the Data tab o

[2020-03-04 12:36] patrickkaleta commented on #135
The **Features** module is not meant to be used in Drupal 8 for this purpose (as [mentioned](https://www.drupal.org/project/features) by its developers).

We can use the **Structure sync** module to import/export our taxonomy terms (countries, cities, study types, hazards, ...). It works similiar to the Config Split module - taxonomy terms are exported as a single yml file into the same sync folde

[2020-03-04 13:17] patrickkaleta opened #148 "Final PDF report for Transport Infratructure Studies (TM Studies)"
Subtask of #134

Comment from Angela:

@ghilbrae as discussed previously, the TM will generate the final report and the CSIS will provide additional summaries for the Adaptation options.
How exactly are we going to do this? Would it be enough for the TM if CSIS provides a REST endpoint where the TM could request details about all included adaptation options. That information could then included in

[2020-03-04 13:30] p-a-s-c-a-l commented on #8
We've decided to use or https://ci.cismet.de/ Jenkins server. Closing.

[2020-03-04 13:30] #8 closed

[2020-03-04 16:24] fgeyer16 commented on #135
@patrickkaleta a working migration for content types has to be done first, but I have already a working migration for hazard taxonomy which was used to migrate hazards from csis to marketplace: [import hazards.txt](https://github.com/clarity-h2020/csis/files/4288219/import.hazards.txt)

For content (nodes) we will have to create migrations for taxonomies used by node first. So we will need taxonom

[2020-03-05 09:47] patrickkaleta commented on #135
I see, so if we want to use **Migrate** for our content types, we will have to use it for our taxonomies as well... In that case I guess, we will have the **Structure Sync** module as a backup solution

[2020-03-06 14:27] patrickkaleta commented on #130
Permission by Term module does not work with Studies (because this module doesn't support Groups). So, instead access to Studies is now handled by our CSIS helpers module (I'll update the README of our module ASAP).

Anonymous users can now only access Studies, that have been explicitly allowed by an administrator via the [Configurations](https://csis.myclimateservice.eu/admin/config/csis_helpers/

[2020-03-06 14:31] patrickkaleta commented on #130
I wasn't sure which Studies should ATM be available to anonymous users, so I selected our two advanced screening Studies  [Agios Dimitrios](https://csis.myclimateservice.eu/study/35/view/intro) and [Alba Iulia](https://csis.myclimateservice.eu/study/33/view/intro). As mentioned before, this can now be configured in the CSIS module [settings](https://csis.myclimateservice.eu/admin/config/csis_helpe

[2020-03-06 14:31] #130 closed

[2020-03-10 09:17] ghilbrae opened #149 "Option to create an Advanced Transport Study has disappeared"
It seems that the option to create a transport study has disappeared:

![image](https://user-images.githubusercontent.com/1615745/76297441-1d1a7880-62b8-11ea-934b-2973c7cb9ae4.png)

Is there anything that's changed here?

[2020-03-10 12:18] DenoBeno commented on #104
I have just tried to set up a new "advanced screening" study. This is what I got:

https://csis.myclimateservice.eu/study/118/view/context

![image](https://user-images.githubusercontent.com/2961790/76311565-89ee3c80-62d1-11ea-8312-b26ec08acdef.png)

That's new and not a good sign. What happened here?

[2020-03-10 12:22] DenoBeno commented on #104
"Toggle edit" on "Area" step when defining the study should have some visual effect apart from just adding the edit possibility in the map. As it is, it's quite confusing - users will not be sure if pressing the button did anything.

[2020-03-10 12:36] DenoBeno commented on #104
Related to https://github.com/clarity-h2020/csis/issues/104#issuecomment-597055733, I have configured the service to use these template names as step names ages ago. This worked well AFAIK and allowed us more flexibility, e.g. to use the acronyms as step names in study "menu" buttons.

Why was this reverted to use the default names form the taxonomy again?

[2020-03-10 13:04] p-a-s-c-a-l commented on #149
Yes, it has been disabled as described [here](https://github.com/clarity-h2020/docker-drupal/issues/141#issuecomment-590267268).

@patrickkaleta Is there a possibility to populate this list depending on the role of the user?  IMHO we have to distinguish between expert / non-expert users and/or internal / external users. See also https://github.com/clarity-h2020/docker-drupal/issues/124

[2020-03-10 16:04] DenoBeno opened #150 "Issues with new study step templates in CSIS"
**UPDATE: the mechanism for making new studies is broken! Instead of cloning the GL-step template nodes it links the template nodes to the new study and then changes some fields in them as it should be changing in the new nodes. THIS IS EXTREMELY DANGEROUS**

**Update 2:** The problem is caused by switch to beta 9. See full description on how the rule used to work and several reports indicating th

[2020-03-10 16:15] DenoBeno commented on #150
So, I'll try to fix this now, but I need to understand how this happened in the first place. Someone has apparently tried to improve our templates, but forgot some important steps. Mainly:

1. a "study step" template should be opened for editing in "edit as template" mode, like https://csis.myclimateservice.eu/node/934/edit/template
2. A template needs a name, template step label and a boolean fie

[2020-03-10 16:20] DenoBeno commented on #150
OK, I have double checked the study type edit form. E.g. this one
https://csis.myclimateservice.eu/taxonomy/term/1159/edit

![image](https://user-images.githubusercontent.com/2961790/76334390-49071f80-62f3-11ea-97cf-f9b103b6202f.png)

When I click on "select templates", indeed only the nodes that are marked as templates can be chosen. I don't understand how these non-templates ended up here.

[2020-03-10 16:39] DenoBeno commented on #150
OK, I have updated the templates that weren't templates now. I gave them "urban screening (new)" in name so that they can be easily found. As you can see on  https://csis.myclimateservice.eu/maintenance/study_types, they are used in several study types.
I have also tested and now I'm able to edit them all within https://csis.myclimateservice.eu/taxonomy/term/1159/edit. Not sure what was preventing

[2020-03-10 17:52] DenoBeno commented on #150
After adding another new study, I must conclude that **something is badly broken here.** It would appear that the template files get overwritten every time a new study is added now. Oh, the templates are actually added to a study instead of making a copy????

See https://csis.myclimateservice.eu/group/118/nodes

Nodes linked to this study: 934, 935 etc. THIS ARE THE TEMPLATE NODES!!!! Something re

[2020-03-11 07:46] p-a-s-c-a-l commented on #150
I've put the site in maintenance mode until we know how to resolve the problem.

Yesterday, I updated modules with `composer update` to try to resolve [an issues with the quick edit module](https://github.com/clarity-h2020/docker-drupal/issues/141#issuecomment-596976142). So maybe this caused the problem.

This problem could also be related to the **[quick node clone](https://www.drupal.org/projec

[2020-03-11 08:09] p-a-s-c-a-l commented on #150
When I perform an update, I commit the changes to our [private gitlab repo](https://gitlab.atosresearch.eu/ari/clarity-csis-drupal/). I've attached the [composer.lock patch](https://github.com/clarity-h2020/csis/files/4316780/composer.lock.patch.txt) so that you can reproduce which modules have been updated since my last update on December 10 2019. However, I don't know if somebody else updated mo

[2020-03-11 08:20] p-a-s-c-a-l commented on #150
Some updated modules that may be related to the issue:
- myclabs/deep-copy: 1.9.4 -> 1.9.5
- rupal/business_rules: 1.0.0-beta8 -> 1.0.0-beta9
- drupal/entity: 1.0.0-rc3 -> 1.0.0
- drupal/group: 1.0.0-rc4 -> 1.0.0-rc5
- drupal/views_bulk_operations: 3.3.0 -> 3.4.0

[2020-03-11 08:36] DenoBeno commented on #150
The problem is caused by switch to beta 9. See full description on how the rule used to work and several reports indicating that this stopped working in beta9 here:https://www.drupal.org/project/business_rules/issues/3043752#comment-13504586

The patch that previously made the whole thing work is not applicable to the new code anymore.

[2020-03-11 08:46] p-a-s-c-a-l commented on #150
O.K. I've locked business_rules to 1.0.0-beta8 in [composer.json](https://gitlab.atosresearch.eu/ari/clarity-csis-drupal/blob/dev/composer.json) and downgraded the module:

    patches/business_rules_2994155.patch (Issue #2994155)
    patches/business_rules_3043752.patch (Issue #3043752)

[2020-03-11 09:19] DenoBeno commented on #150
Patrick and I took a look at beta 9 and we don't understand what's going on.
1. The patch is really simple and affects only one file in busines rules (https://www.drupal.org/files/issues/2019-03-29/view-result-loop-3043752-9.patch).
2. This file has not changed between beta8 and beta9
3. Actually the changes between b8/b9 are very minor - complete diff is just 2 pages and nost of it is in yaml fil

[2020-03-11 09:26] DenoBeno commented on #150
You are right, it could be in some other element too. Basically, what this patch we are applying to rules relies on is the following:

1. If someone changes the UUID while manipulating the in-memory copy of an entity, then a new entity should be generated.
2. To do so, a new UUID should be generated before saving.
3. This can be done by calling:
[code]
4. And a new entity is generated on save if t

[2020-03-11 09:45] DenoBeno commented on #150
Is everything working OK now, after downgrade to beta9?

[2020-03-11 10:15] p-a-s-c-a-l commented on #150
I've created a new study, but that doesn't look good:

![grafik](https://user-images.githubusercontent.com/1788226/76406208-9fbf3880-6389-11ea-98e8-0848383d2b34.png)

[2020-03-11 10:17] patrickkaleta commented on #150
I doubt it, since the [patch](https://www.drupal.org/files/issues/2019-03-29/view-result-loop-3043752-9.patch) doesn't get applied (event though thecommand line says it's being applied). Not sure what the reason for this is.

[2020-03-11 10:26] p-a-s-c-a-l commented on #150
I've created a backup before applying the updates (yesterday around noon). I can restore it.

[2020-03-11 10:28] claudiahahn commented on #104
this is just a test for me (because I have accidentally clicked on the unsubscribe button...)

[2020-03-11 10:31] patrickkaleta commented on #150
Then this would probably be the best solution. I wasn't working on the system yesterday, so from my side nothing would be lost. Not sure how it is for the others, but AFAIK no major development took place yesterday and also no DPs and Resources got updated or added in the meantime.

[2020-03-11 11:56] p-a-s-c-a-l commented on #150
OK. now I'm able to create new studies and steps are copied. However, there a re a few more issues:

- Vulnerability Step is created but the respective tab is missing. I assume @patrickkaleta implemented https://github.com/clarity-h2020/docker-drupal/issues/141#issuecomment-591330577 ?
- EMIKAT calculation is **not** triggered when changing the bounding box [log](https://csis.myclimateservice.eu/a

[2020-03-11 13:13] DenoBeno commented on #150
I find it really spooky that the patch isn't getting applied by the composer anymore although the file on which it should be applied didn't change.

Once we have this working again, someone should try applying these updates ine by one in a test environment to see what breaks it. Is it really the latest rules or maybe the entities update?

[2020-03-11 13:23] DenoBeno commented on #150
I have just re-calculate the study 37. https://csis.myclimateservice.eu/study/37/step/1644/view/table is making a call to emikat that returns the results, but no results are shown in the table.

This is what it calls: https://service.emikat.at/EmiKatTst/api/scenarios/3207/feature/view.2974/table/data?rownum=100&filter=SZ_ID=3207&filter=STUDY_VARIANT%3D%27BASELINE%27&filter=TIME_PERIOD%3D%27Baselin

[2020-03-11 13:32] DenoBeno commented on #150
I don't get it. has the DB been re-set or not?

Btw, the map calls are just returning a "black" screen. And surprisingly, there is four of them every time when I change the (EMIKAT) layer. I expected two, one for the map legend and one for the layer.

[2020-03-11 13:43] p-a-s-c-a-l commented on #150
no, db has not been restored so we didn't loose any data. but i deleted some test studies and obsolete steps.

[2020-03-11 13:49] DenoBeno commented on #150
If the db has not been restored, then templates need to be fixed again. I'll do this, just a moment.

- Heinrich has fixed the issue with maps not showing anything, a re-load of geoserver was needed after changes.
- Why the map calls the EMIKAT geoserver 4x on every change is not clear. Should be 1x, 2x at most IMO.
- table is still not shown, although the EMIKAT REST call seems to be OK and retur

[2020-03-11 13:53] therter commented on #150
When I use this request, emikat does only return the column names, which are also shown in the table, but no data for the columns.

[2020-03-11 13:53] DenoBeno commented on #150
Templates for advanced screening are OK now. The only thing that needed fixing was https://csis.myclimateservice.eu/node/937/edit/template where EU-GL step was not set.

[2020-03-11 13:55] DenoBeno commented on #150
Maybe it doesn't like you? I get this:

[code]

[2020-03-11 14:00] p-a-s-c-a-l commented on #150
Same for me, no rows in result:

![grafik](https://user-images.githubusercontent.com/1788226/76424794-fdaf4880-63a8-11ea-8a7a-2c67493c4f30.png)

[2020-03-11 14:07] patrickkaleta commented on #150
Yes, it seems to be a permission problem on Emikat-side. The "clarity GAST" user (which is used by the Table component) doesn't get any results, only the column names are returned. I talked to Heinrich, he is now investigating this.

[2020-03-11 14:08] therter commented on #150
leaflet that is used to draw the map, uses tiles. Although large tiles are used (1536px), up to 4 requests per layer can be made. This depends on the position on the map

[2020-03-11 14:50] patrickkaleta opened #151 "Make GL-Step descriptions editable in Study"
Study members should have the option to edit the default texts that is currently shown on each Introduction tab in a GL-Step of a Study.

[2020-03-11 15:07] patrickkaleta commented on #150
No, I haven't done anything related to that. Turned out that the [Vulnerability GL-Step](https://csis.myclimateservice.eu/node/3742) in that Study didn't have a EU-GL taxonomy term assigned to it. That's why it wasn't shown in the Study navigation. I added the taxonomy term reference by hand and now this step is shown in the Study.
Not sure, why the reference field was empty, because the template

[2020-03-16 11:50] therter opened #152 "The summary page of some studies loads very long"
Every screenshot will be loaded in its original resolution, when the summary page is loaded. This can take very much time. For example for [this](https://csis.myclimateservice.eu/study/1/view/summary) page.

[2020-03-16 14:00] patrickkaleta commented on #149
Yes, it is possible and already implemented (see [this issue](https://github.com/clarity-h2020/docker-drupal/issues/115)).

The visibility of different Study types is managed inside the [Study type taxonomy](https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/study_type/overview). On the top of each Study type term under "Permission", it can be configured which user roles should have

[2020-03-16 14:00] #149 closed

[2020-03-16 14:29] patrickkaleta opened #153 "Allow Emikat calculation tests to be run by the UI testing service"
Up until now the csis helpers module [Emikat testing mechanism](https://github.com/clarity-h2020/csis-helpers-module/blob/dev/src/Utils/TestingService.php) was executed as part of a cronjob.

I've changed that, so that it can now be triggered by the UI testing service via visiting the following URLs (those URLs are only accessible if user is logged in as an administrator):
- to trigger the calcula

[2020-03-17 09:19] p-a-s-c-a-l commented on #153
Thanks!

I'm going to test against problems > 0 == failed. ATM, running batch jobs that haven't returned any results **yet** (INI), not count as problem:

![grafik](https://user-images.githubusercontent.com/1788226/76840125-f10e7280-6836-11ea-8d3d-4b6ada3d6835.png)

That's not an issue as I'm planning to run tests every 2 hours and check the status page first and then, if all batch jobs are ok (pr

[2020-03-18 07:28] DenoBeno commented on #150
As I said above, this step was indeed missing the link to gl taxonomy and I fixed that. Probably the one study by Pascal was made in the meantime.

Another thing: the rules didn't work yesterday. After talking to @fgeyer16 , I cleaned the cache and everything worked as it should. I already forgot this issue but here it is again.

@fgeyer16 will take a look at beta9 next week. In the meantime, I wo

[2020-03-18 09:03] patrickkaleta commented on #150
What I was able to find out last week was that this [patch](https://www.drupal.org/files/issues/2019-03-29/view-result-loop-3043752-9.patch) (fixing [BR issue 3043752](https://www.drupal.org/project/business_rules/issues/3043752)) does not get applied anymore in BR beta9.

However, the file affected by this patch ([SaveEntityVariableAction.php](https://git.drupalcode.org/project/business_rules/-/b

[2020-03-23 10:54] patrickkaleta commented on #153
Triggering and viewing the results now possible for new User role "Testing". Also, there is now a button linking to the results of the Emikat test in the Maintenance overview.

@p-a-s-c-a-l : as wished, I added the "clarity-ci-csis" user to this new user role.

[2020-03-23 11:06] patrickkaleta commented on #134
@luis-meteogrid & @ghilbrae
As discussed in the telco today, if you have the URL schemas available for the TM tables and maps, please post them here, so that we can configure the CSIS as described in Pascals [comment](https://github.com/clarity-h2020/csis/issues/134#issuecomment-577557507).

[2020-03-24 06:20] p-a-s-c-a-l commented on #153
Our CI System is now periodically checking the [status page](https://csis.myclimateservice.eu/maintenance/check-emikat-results). If the problem count is 0, it will trigger an new calculation. If it is > 0, it will create a new bug report like [this one](https://github.com/clarity-h2020/csis-technical-validation/issues/21) in [csis-technical-validation](https://github.com/clarity-h2020/csis-technic

[2020-03-24 09:04] p-a-s-c-a-l commented on #153
Currently, the status check fails with

@patrickkaleta @humerh

Is this a 'real problem' or can it be ignored:

Perhaps we have we to distinguish between `error-count` and `warning-count`.

[2020-03-25 08:43] p-a-s-c-a-l commented on #153
If possible, the status page should also include the date and time when the last test study was triggered.

Continuous Integration System triggers only when warning count is zero. However, current warning count checked by CI  [is 6](https://github.com/clarity-h2020/csis-technical-validation/issues/21#issuecomment-603710781) while  previous warning count [was 1](https://github.com/clarity-h2020/csi

[2020-03-25 08:47] p-a-s-c-a-l commented on #152
1st we should remove all report images from test study 1. I assume this is a manual process?
2nd we should change image format of screenshots from PNG to JPEG.

[2020-03-25 09:18] therter commented on #152
I will do this

[2020-03-25 10:13] patrickkaleta commented on #153
Emikat doesn't directly provide that information, but I've now added the date & time when the first batch job of the calculation was started ( which will roughly be the same time when the trigger was fired, **unless** there is currently another Study calculation running and this one has to be queued).

[2020-03-25 10:16] humerh commented on #153
If you want I can also provide the information, when the batch job was queued.

[2020-03-25 10:16] humerh commented on #153
If you want I can also provide the information, when the batch job was queued.

[2020-03-25 10:19] patrickkaleta commented on #153
Not sure if that's a problem or not, @humerh has to tell us whether this batch job should return some results or not.

I could do that if needed. As **error** I could count just those batch jobs that have an `ERR` status and all other things like `Result=0` or a status of `INI` or `RUN` would count as a **warning**.

[2020-03-25 10:24] patrickkaleta commented on #153
Thanks to @humerh I realized that for our test study we had selected a completely wrong city, for which we don't have the necessary data. That would explain why some batch jobs had 0 results. I changed the city and now selected Vienna, but still some batch jobs return 0 results.

According to [this commen](https://github.com/clarity-h2020/emikat/issues/33#issuecomment-603172199)t from @negroscuro

[2020-03-25 10:30] patrickkaleta commented on #153
@humerh If it's not too much work for you, you could add this information at some point (I'm sure it would also be nice to have thisinformation from inside the Emikat client's batch-job list). But for the CI testing system it's ATM probably enough to just know when the batch job was started.

[2020-03-25 10:55] p-a-s-c-a-l commented on #120
TLS is not available for http://services.clarity-h2020.eu:8080

[2020-03-25 11:06] ghilbrae commented on #134
We have a bunch of URLS to share right now. Just a question first, is the creation of a new study already linked to the TM? We've created a new one but it does not seem to create the study in both sides.

The URLs that are working now are as follows:

Study -> Area -> https://clarity.saver.red/studies/simulation/[CSIS Study ID]/

Hazard Characterization -> Table -> https://clarity.saver.red/study-

[2020-03-25 11:12] negroscuro commented on #42
I finally updated the european grid with Iceland area generating gridIds as explained by Heinrich which is a result of combination of coordinates from cells.
I also added some cells missing from Barcelona near airport area.

[2020-03-25 16:42] patrickkaleta commented on #151
Done. Members of the Study can now change the default texts in the **Introduction** tab of each GL-Step.

This does not apply to the overall **Introduction** tab of the Study. Here, the text can't be changed. IMO this is also not necessary, since we already have the `Study goal` field, which can be used for a custom description and which can be edited in the **Context** tab of the Study.

[2020-03-25 16:42] #151 closed

[2020-03-26 10:50] therter commented on #152
All report images from study 1 are removed. But I haven't removed the unused image files from the csis directory, yet.

JPEG images are now used

[2020-03-30 06:53] fgeyer16 commented on #135
Here is an working example for updating existing and creating new hazards. This needs to be a chain of migrations since we cannot update the icons and terms in one migration properly.
So first you have to update the icons: [import-icons.txt](https://github.com/clarity-h2020/csis/files/4401234/import-icons.txt)

Then we can update the hazards: [import.hazards.txt](https://github.com/clarity-h2020/c

[2020-03-30 07:44] patrickkaleta commented on #135
Ok thanks for the updated files. I will try them out, write a detailed "Best practise" issue for that and start working on the migration files for the necessary content types and taxonomies which we want to synchronize between our two systems.

[2020-03-30 07:52] p-a-s-c-a-l commented on #153
Currently, I've disabled the UI tests. ATM there are have been [6 problem(s) in a total of 13 batchjobs](https://csis.myclimateservice.eu/maintenance/check-emikat-results). I'm going to enable the tests again when we can make sure that at least the test study works.

[2020-03-30 07:54] p-a-s-c-a-l commented on #147
done

[2020-03-30 07:54] #147 closed

[2020-03-31 09:57] therter commented on #152
Unused files will be deleted from the file system, if the status of the file is temporary (table file_managed, field status = 0) and the last change was 3 month ago (this can be changed [here](https://csis.myclimateservice.eu/admin/config/media/file-system)).
But the current drupal version does not change the status of orphaned files to temporary. (See [here](https://www.drupal.org/node/2891902))

[2020-03-31 09:57] #152 closed

[2020-03-31 10:02] DenoBeno opened #154 "Prepare for adaptation options calculations"
- [x] Change the "costs" fields to free text (cost per m^2)
- [x] Assure that the new cost fields are shown in all relevant views
- [x] [Implement new data model (node) for "adaptation strategy"](https://github.com/clarity-h2020/csis/issues/155) . Each strategy is for ONE land use; three variants to be created for each land use
- [ ] Allow user to define the "adaptation project" by choosing severa

[2020-04-01 09:17] DenoBeno commented on #154
After yesterdays discussion, I have a better Idea how to proceed with this. First, we need **change in the "cost" field of the adaptation options**. There, the three cost fields need to be replaced with numeric fields (price pro m^2). This is easy, but we also need to change a presentation in all views to accommodate these three new fields and then drop the old ones.

@stefanon, @mattia-leone  : I

[2020-04-01 09:21] DenoBeno opened #155 "Data model for "adaptation project""
_Originally posted by @DenoBeno in https://github.com/clarity-h2020/csis/issues/154#issuecomment-607135770_

We need to define a **new node or taxonomy type that will be used to define "adaptation strategy"**. Something like this:
1. one **land use category** (e.g. residential middle density houses)
2. one or or more **adaptation options**
3. **percentage** of the land use category to apply this t

[2020-04-01 10:16] patrickkaleta commented on #135
So thanks to the latest example files provided by @fgeyer16 I was able to create the migration files for all of our taxonomies (in total 27, two taxonomies were omitted since they are either completely empty or marked as obsolete and therefore not relevant for us right now).

They all seem to work, but I can do a proper testing only after I create a couple of migrations for some content nodes as w

[2020-04-01 22:32] DenoBeno commented on #104
Strange, I thought that I have posted a report complaining about the color coding of the hazard indice maps earlier today here. In short, my recommendation is to use multicolor coding, but to avoid repeating similar colors as it's the case now (dark blue, light blue, dark blue, light bluish/turquoise). We still have maps where most of the map is just a single color.

In the meantime, I have also d

[2020-04-01 23:22] DenoBeno commented on #104
@claudiahahn, @mattia-leone : What is T_A? Ambient or apparent temperature? Ins what does this mean? (if "apparent", how is this different from UTCI?)

[2020-04-02 06:29] p-a-s-c-a-l commented on #104
Colour Coding is something that has to be implemented in GeoServer (SLD). Now that layers are [moved from METEOGRID to ATOS](https://github.com/clarity-h2020/ckan/issues/23) this issue could be addressed by @DanielRodera

[2020-04-02 10:57] p-a-s-c-a-l commented on #153
Tests enabled again.

[2020-04-02 10:57] #153 closed

[2020-04-02 12:55] RobAndGo commented on #104
Hi @DenoBeno,
T_A refers to "Apparent Temperature" and is defined as:

T_A = 0.716 x UTCI - 1.48

That is, the apparent temperature, which is the temperature felt by humans, is correlated with the UTCI using the above relation (taken from a paper _Blazejczyk, K., Epstein, Y., Jendritzky, G., Staiger, H., & Tinz, B. (2012). Comparison of UTCI to selected thermal indices. International journal of bi

[2020-04-02 13:10] RobAndGo commented on #104
@DenoBeno
I think the problem with the "snow days" is that the data has not been processed yet by Meteogrid (@ghilbrae @LauraMTG). That is, the data is not available on the Meteogrid geoserver:
https://clarity.meteogrid.com/geoserver/web/wicket/bookmarkable/org.geoserver.web.demo.MapPreviewPage?3

This was one of the last data sets that I uploaded and can be found on the clarity ftp here:
/clarity

[2020-04-03 08:27] DenoBeno commented on #104
thanks

[2020-04-06 06:35] patrickkaleta commented on #135
I finished the migration files for the GL-step, DP_source and DP_license content types. So, all of the taxonomies can now be synchronized.

Now working on the migrations for the Data packages (I completely forgot about all the references in the DP_resources, which of course also will require their own migration scripts), so I'm hoping to have that done by the end of today.

Proper testing of the c

[2020-04-06 08:27] p-a-s-c-a-l commented on #134
OK, so it seems that need just 2 Parameters to construct all of those URL:
- ${STUDY_ID}
- ${STEP_NAME}  [vulnerability, exposition, risk]

Examples:
- https://clarity.saver.red/study-${STEP_NAME}/reference/${STUDY_ID}/elements_${STEP_NAME}/
- https://clarity.saver.red/study-${STEP_NAME}/reference/${STUDY_ID}/elements_${STEP_NAME}/

[2020-04-06 11:51] LenaStr opened #156 "Create or clone datapackage?"
I want ro create a new datapackage, or clone the European wide package to have something to start from but can not figure out how to do this. Same problem seems to be there for resources.

Am I missing something or is it a question of rights again?

/Lena

[2020-04-06 12:35] p-a-s-c-a-l commented on #156
Cloning of  data packages is supported by a specific module. See [this discussion](https://github.com/clarity-h2020/data-package/issues/65#issuecomment-596488373) for more details.  AFAIK it is not enable for all users. @DanielRodera has used it to clone the European Data Package, I think he can assist you.

Please be aware that only the data package is cloned by value. All sub entities (including

[2020-04-07 07:26] LenaStr commented on #156
OK!

What I need to do is to create a data package containing a subset of the resources from the European data package and then complement it with resources from our expert studies.
(What you say about valueas and references seems what I expect.)

It might be as easy to create a new datapackage and then import the resources I want.
Hoowever, I can not figure out how to create a new datapackage or

[2020-04-07 07:45] patrickkaleta commented on #156
Hi Lena,

the links for creating data packages and resources should be available in your account pages (https://csis.myclimateservice.eu/user/41/content). There you should see on top two buttons ("create data package" and "create resource")

[2020-04-07 07:50] patrickkaleta commented on #156
Regarding cloning, as Pascal mentioned it's ATM only possible for administrators to do that. Reason is, that it could potentially change/destroy the original data package if not used carefully.

If you think that it would be much easier to work with a clone of the European DP, than please talk to @DanielRodera. He has the most experience with this cloning feature and he could clone the data packag

[2020-04-08 10:47] ghilbrae commented on #148
We've been thinking about this for a while. The approach that we are considering now is as follows:

- Using a specific URL for each section in the TM. This would trigger the PDF generation that would end with a PDF generated by the TM and another one generated by the CSIS per each section.
- URLs will work the same as defined on this comment https://github.com/clarity-h2020/csis/issues/134#issuec

[2020-04-10 09:30] patrickkaleta commented on #135
I believe it's done. "Best practice" issues for the synchronization are:
1) [Config sync HowTo](https://github.com/clarity-h2020/docker-drupal/issues/138)
2) [Content sync HowTo](https://github.com/clarity-h2020/docker-drupal/issues/147)

### In short:
- generally synchronize configuration **before** content
- only **published** content is synchronized (so dummy content could be unpublished in Dev

[2020-04-15 07:20] ghilbrae commented on #134
@patrickkaleta how is this going? Is there something we can do on our end to help?

[2020-04-15 09:49] DanielRodera commented on #156
@LenaStr, I have created a cone of the European DP. I named it _Clone of European Wide Data Package_, you can use it.

Let me know if you have any problem or you need to clone another one.

[2020-04-15 13:13] humerh commented on #155
My concept for adaptation option calculation looks like that:

1) Within a CSIS study one (or more) ADAPTATION_PROJECTs  can be defined. An Adaptation Projects is given by a NAME, DESCRIPTION (purpose) and a bounding box ('POLYGON((x1 y1), (x2 y2) ...(x1 y1))' for the area, which is affected by this project. If the bounding box is missing, the adaption projects is defined for the whole Study Area.

[2020-04-16 07:46] patrickkaleta commented on #134
Both parameters are now available in the `$studyInfo` object:
- `study` has the Study ID (was already part of `$studyInfo`)
- `step_name` contains the GL-step name in the necessary TM format (hazard, vulnerability, exposition, risk)

[2020-04-16 13:10] p-a-s-c-a-l commented on #134
Hm, I've tried this with the following URL: https://clarity.saver.red/study-hazard/reference/132/elements_hazard/

But got an error:

Request Method: | GET
-- | --
http://clarity.saver.red/study-hazard/reference/132/elements_hazard/
2.2.12
MultipleObjectsReturned
get() returned more than one Simulation -- it returned 2!
/home/meteogrid/.virtualenvs/v_django2/lib/python3.5/site-packages/django/db/m

[2020-04-17 07:55] p-a-s-c-a-l commented on #134
Trying to show clarity.saver.red in an iFrame on csis.myclimateservice.eu: https://csis.myclimateservice.eu/node/1982

![grafik](https://user-images.githubusercontent.com/1788226/79545054-518c0c00-8090-11ea-8018-5c839c45629a.png)

@ghilbrae Could you please try to resolve this issue? It seems that @rapto already addressed this problem [here](https://github.com/clarity-h2020/csis/issues/122#issueco

[2020-04-17 08:08] ghilbrae commented on #134
@p-a-s-c-a-l we'll look into it and report back.

[2020-04-17 08:24] rapto commented on #134
[get() returned more than one Simulation -- it returned 2!]

I have created a unique constraint on the reference, since it is a surrogate primary key.

[2020-04-17 08:29] rapto commented on #134
OK, the setting is now:
[code]

[2020-04-17 08:44] rapto commented on #134
OK; CSP control temporarily disabled. I am working to restore it.

[2020-04-17 09:36] rapto commented on #134
I believe it is working now, but I get
`no $study or $step_name property available, cannot initialise Transport Application`
Is this a problem I can solve?

[2020-04-17 09:52] p-a-s-c-a-l commented on #134
Thanks @rapto! TA iFrames now work only context of a transport study, e.g. [here](https://csis.myclimateservice.eu/study/132/step/3862/view/maps).

I've updated the [A-2 New Guadalajara Transport Study](https://csis.myclimateservice.eu/study/132/view/area) and replaced all maps and tables with new [Transport Application iFRames](https://csis.myclimateservice.eu/admin/content?title=Transport+Applic

[2020-04-17 10:52] patrickkaleta commented on #134
I believe this error was also caused by the fact, that at first we used a different user for testing.
@rapto you can delete all simulations created by the user **patrickk**.

[2020-04-17 11:01] patrickkaleta commented on #134
That's going to be a problem. The Study area map is part of the Study Group-entity and not part of any of the Study templates. I need to think about it.
Probably the best solution would be to change the **default study area map** inside the csis_helpers module right after the form is submitted and the Study is being generated. I'll look into it.

[2020-04-20 10:15] mattia-leone commented on #154
Dear all, I am a bit lost. Everything was clear at the time of my last meeting with Denis about how to calculate the effect of adaptation, using "strategies" instead of single measures, and working with the land use percentages.
At this point I think that we should have a dedicated meeting to talk about this, let's not stall with this crucial step!

[2020-04-20 10:17] mattia-leone commented on #154
about adaptation cost calculations, we have a very complete set of data about this.
we agreed that first the data model for strategies on the CSIS should be prepared, so that we can input all the data.
Also, we were waiting for someone to modify the cost field for the single adaptation measures (insted of €, €€, €€€) so that we can insert the revised cost data

[2020-04-21 08:29] patrickkaleta commented on #134
The csis helpers module now takes care of setting the correct **Study area map** for **Advanced Screening: Trans. Infr**. Studies. ATM this is done directly in the code, but in the future we could add an UI, so that admins could set the correct **Study area maps** for each individual Study type.

BTW: I noticed that right now the [default Study area map](https://csis.myclimateservice.eu/admin/grou

[2020-04-21 09:20] therter commented on #134
It was [planned](https://github.com/clarity-h2020/map-component/issues/52) to include the study area map as an iframe and don't use the React Mount content types anymore, but this requires  a lot of changes at the component and is set on hold at the moment. This is the reason why the React Mount content types are deprecated.

[2020-04-21 10:24] p-a-s-c-a-l commented on #150
Has this been resolved now in https://github.com/clarity-h2020/docker-drupal/issues/148 ?

[2020-04-21 10:48] p-a-s-c-a-l commented on #135
I agree. We'll validate by [Acceptance Tests](https://github.com/clarity-h2020/csis-technical-validation/issues/1). So what are the next steps now?

Try to resolve remaining [showstopper issues](https://github.com/clarity-h2020/csis/issues/145#issue-567632298) and then

- Update the PROD and DEV instance on https://csis.ait.ac.at/ and https://csis-dev.ait.ac.at (https://csis-dev.myclimateservice.e

[2020-04-21 11:39] patrickkaleta commented on #150
Yes, this has been resolved.

[2020-04-21 11:39] #150 closed

[2020-04-21 12:34] patrickkaleta commented on #135
Yes, I believe those are the remaining necessary steps.

[2020-04-27 06:22] patrickkaleta commented on #148
@ghilbrae yes, it would be a possibility to simply generate two separate PDFs - one in the CSIS with all the information that the CSIS has available and another one in the TM with all the information that the TM has available. But I don't know how useful it would be for the users if they had to look up information about their study in two separate PDFs.

This sounds to me like you want to create a

[2020-04-27 06:24] patrickkaleta commented on #148
If you already have a working PDF generator in the TM then we can leave it at that for now and in the CSIS we will just link to the created PDF in the TM and we will offer a second PDF inside the CSIS with additional information, which is not included in the TM.

[2020-04-27 07:45] p-a-s-c-a-l commented on #145
#### Status:
- [ ] [Scientific Validation of Screening Results](https://github.com/clarity-h2020/emikat/issues/35): **ongoing**
- [ ] [Provide a way to import/export/syncronize content ](https://github.com/clarity-h2020/csis/issues/135): *done*?
- [ ] [Clean up the System](https://github.com/clarity-h2020/docker-drupal/issues/125): **tbd** (unpublish content)
- [ ] [Basic European Wide Data Packag

[2020-04-27 10:07] ghilbrae commented on #148
We've discussed this a bit. One way to include the TM specific information in the general report would be to access all necessary information in a json call. Of course, it would be possible to send ready made PDFs to have them embedded (I suppose PHP can do that), but it would be very difficult to have consistent aesthetics.

[2020-04-27 10:35] patrickkaleta commented on #148
Sending generated PDFs between the CSIS and the TM seem unnecessary to me. If the TM creates a (partial) PDF, it wouldn't be necessary for the CSIS to also have an actual copy of it. In the CSIS we could just show a link to the user, where he/she could access your PDF.

I agree. This  would be a simple solution. **Question**: Who will create the PDFs - CSIS or TM?
@ghilbrae is the TM already capab

[2020-04-27 10:35] patrickkaleta commented on #148
@ghilbrae if you like we can have a short dedicated telco regarding this topic somewhen this week. WDYT?

[2020-04-28 07:26] patrickkaleta opened #157 "Taxonomy terms not filtered when using an Entityqueue"
Fields where we use Entityqueues to automatically filter out certain taxonomy terms (DP tags, Study scenario, possibly more?) are currently not filtered correctly and displaying all possible terms.

**Reason:**
The involved Entity Reference Views show a "_missing/broken handler_" in the **Contextual Filter** of the Views.

**Cause:**
Probably caused by the recent upgrade of either Drupal Core or t

[2020-04-28 07:56] patrickkaleta commented on #157
Fixed. **Data package tags** and **Study scenarios** are now being again filtered correctly.

Note: By this bug was also the Entity Browser View affected, which was taking care of the DP tags display. Those Views were fixed as well.

[2020-04-28 07:56] #157 closed

[2020-04-28 09:26] patrickkaleta commented on #154
I changed the cost fields, so you should be able to now insert specific values for development, retrofitting and maintenance costs. Remaining changes to the data structure will be done after the initial release of the CSIS, because such changes always affect the content synchronization between Development site and production site, which I want to keep at a minimum before the initial release.

Just

[2020-04-28 09:54] patrickkaleta commented on #114
This can be closed. In the [settings](https://csis.myclimateservice.eu/admin/config/csis_helpers/default) of the csis_helpers module admins can select which published Studies should be accessible to anonymous users.

[2020-04-28 09:54] #114 closed

[2020-04-29 09:16] ghilbrae commented on #148
How about tomorrow? We can meet from 9.00 to 10.30 or after 12. Another option could be to meet after Monday's meeting.

[2020-04-29 11:34] patrickkaleta commented on #148
Ok let's make it 9:30 tomorrow. We really shouldn't need more than an hour for that. I'll send you an invite.

[2020-04-29 12:24] patrickkaleta commented on #155
I like @humerh's concept. Here is how I think we could implement this in Drupal:

1. Create new Node type **Adaptation Project** (project does sound better than strategy) and **use it as a Group node in the Study** Group with these fields:
   1. Title (in the node)
   2. Description (in node)
   3. Selected AOs (1 or more) (in the Group node)
   4. Applied area (boundingbox, for now hidden field s

[2020-04-29 12:43] patrickkaleta commented on #155
### To think about
Maybe we can remove the `Study variant` field in the **Study scenarios** (ATM you can only select `Study Variant: no Adaptation Options` anyway). Otherwise users will have to create the exact same Study scenario twice (once without AOs, once with them), since I don't see the value of comparing a baseline scenario with an adapted one that has completely different parameters (RCP

[2020-04-29 19:29] DenoBeno commented on #154
I see that Partrick has changed the cost fields in adaptation options, but the old fields (and not the new ones) are still shown everywhere.

I will open a new issue for this and proceed with fixing the views.

[2020-04-29 19:33] DenoBeno opened #158 "Show new cost fields in all views involving adaptation options"
I see that Patrick has changed the cost fields in adaptation options, but the old fields (and not the new ones) are still shown everywhere.

_Originally posted by @DenoBeno in https://github.com/clarity-h2020/csis/issues/154#issuecomment-621416290_

TODO: fix these

- [x] various displays for adaptation options https://csis.myclimateservice.eu/admin/structure/types/manage/adaptation_options/displa

[2020-04-29 19:59] DenoBeno commented on #158
Displays seem to be OK already.

Adaptation options table was a bit challenging. I removed the "cost retrofitting" filter option and enabled the use of jquery slider with 0-1000 € range for development and maintenance.

[2020-04-29 20:34] DenoBeno commented on #158
I am not aware of any other views => closing

[2020-04-29 20:34] #158 closed

[2020-04-29 22:22] DenoBeno commented on #155
@patrickkaleta : I wanted to add "adaptation project" node type to csis, but I realised that your idea of defining the parameters and possibly even the areas in the group node collides with @mattia-leone's idea of pre-defining the adaptation projects so that users don't have to do this.

Maybe we even need both?

1. "Adaptation strategies" to simplify the life of the users and assure that the adap

[2020-04-29 23:45] DenoBeno commented on #155
So, back to proposal by Patrick. What we want to achieve is that user explicitly selects one or more combinations of:

LAYER + Adaptation Option + percentage of the layer + (optional) strategy

Bounding box would then always be the whole study area, and the "strategy" would assure that the AOs are applied in the best possible place. Example:

1. Dense urban fabric + replace by trees + 5% + strateg

[2020-04-30 08:23] patrickkaleta commented on #148
So after our discussion today, we decided the following approach:
- start with easiest solution by generating two separate PDFs - one created by CSIS and the other by the TM
- in the CSIS **Study-Summary** tab next to the usual "Download report" button, we will add a link to the second PDF, so that users can access it

In the future, we could then possibly switch to a Single-PDF approach by either

[2020-04-30 08:42] patrickkaleta commented on #155
**Ok, good. So let's stick to the current concept,** but in the future we might consider addind an "expert only" checkbox to Adaptation options, so that "normal" Studies could show all regular AOs, while Expert Studies would get a new "View as application" node, which could either list "expert" AOs only or the once pre-selected explictly in the data package.
That way we would eliminate the need to

[2020-04-30 09:42] patrickkaleta commented on #155
No, I don't think the user should select the layer. AOs already have an [Applicable to field](https://csis.myclimateservice.eu/admin/structure/types/manage/adaptation_options/fields/node.adaptation_options.field_land_use), which determines to what kind of land usage category this AO can be applied. **Users should not have to possibility to meddle with that.**

Also I don't believe it will be feasi

[2020-04-30 10:05] patrickkaleta commented on #155
I was not aware that @mattia-leone wants to predefine complete adaptation projects (= a collection of possibly multiple adaptation options). If he wants to do that, it's fine with me. Although, then I would use the term "Adaptation strategy" for that, since he cannot pre-define an adaptation Project (he doesn't know the individual Study areas). We then won't show to the user individual AOs, but ra

[2020-04-30 10:05] claudiahahn opened #159 "CSIS - Text for each step"

[2020-04-30 10:57] RobAndGo commented on #159
While modifying the text, I noticed that we tend to (not always) use the American English version of "characterization", as in "Hazard Characterization". I think we should use "Characterisation", as this is how it it written in the original EU-GL document. And using one version instead of switching between the two would make it appear more consistent throughout.

Now, I am hoping that this change

[2020-04-30 11:16] p-a-s-c-a-l commented on #159
Which files?

[2020-04-30 11:28] DenoBeno commented on #159
It can be done somehow... If nothing else, we can always do a database dump, replace all occurrences and then load the DB in again. This isn't so difficult to do, but I'll let @patrickkaleta do it because I'm normally not touching the database in this product...

Patrick, here is how it can be done:

1) dump the whole DB, either using drush, directly from mysql or or using the "backup migrate" mod

[2020-04-30 11:53] p-a-s-c-a-l commented on #159
what could possible go wrong? :-)

Seriously, **never change a running system**. If you really dare to mess with the database dump and load it again, it will break so many thing you can't even imagine now. E.g. if you replace characterisation by characterisation, this will also rename our taxonomy URIs like https://csis.myclimateservice.eu/taxonomy/eu-gl/hazard-characterization and ids like `eu-gl

[2020-04-30 12:29] RobAndGo commented on #159
OK, fair enough. In that case, it is not important. So, for the text description we will use "characterization" for consistency.

[2020-05-01 09:50] claudiahahn commented on #159
based on recent publications, it would be better to call the RCP8.5 scenario "worst case scenario" instead of "business as usual".
I hope it is not too much of an effort to change that?

[2020-05-03 19:15] claudiahahn commented on #159
I have uploaded a word document with text for some of the CSIS steps:
https://newrepository.atosresearch.eu/remote.php/webdav/CLARITY/WP1%20CO-Creation/T1.3%20Climate%20Services%20Co-Creation/CSIS-text/Text_for_CSIS_v1.docx

So far I have not changed the text in the Vienna study (no: 25), but I have seen that I am not able anyway to change the text for the introduction (https://csis.myclimateservi

[2020-05-04 08:35] ghilbrae commented on #134
@patrickkaleta the problems you are having with the connection seem to be related with the URL and permissions.
+ URLs that should work are these (and their variants):
https://clarity.saver.red/study-hazard/reference/777/
https://clarity.saver.red/study-exposition/reference/777/
https://clarity.saver.red/study-exposition/reference/777/elements_vulnerability/
+ The user accessing the URL must have

[2020-05-04 15:26] DenoBeno commented on #104
Last week, I have stumbled into a very strange issue. It's IMO almost a "showstopper", but more interestingly, it's something I have never seen in Drupal except on CSIS.

**- paging links aren't shown**

E.g. on https://csis.myclimateservice.eu/adaptation-options, first 25 adaptation options are shown but no links to the next page is presented to users.

Probably the same in https://csis.myclimate

[2020-05-04 15:26] DenoBeno opened #160 "Paging in views broken"
_Originally posted by @DenoBeno in https://github.com/clarity-h2020/csis/issues/104#issuecomment-623531624_

Last week, I have stumbled into a very strange issue. It's IMO almost a "showstopper", but more interestingly, it's something I have never seen in Drupal except on CSIS.

**- paging links aren't shown**

E.g. on https://csis.myclimateservice.eu/adaptation-options, first 25 adaptation option

[2020-05-05 07:18] patrickkaleta commented on #160
Definitely strange behaviour. I removed the pager on that View and added it back again and now it's working as expected. Other pagers (for Showcases and Solution offers) are working just fine, so I guess this was just a weird bug affecting only one View.

[2020-05-05 07:18] #160 closed

[2020-05-05 07:20] patrickkaleta commented on #104
Took care of that. If such an error occurs, just remove remove the pager and add it back again.

[2020-05-12 15:06] patrickkaleta commented on #155
### Status update after several discussions with @mattia-leone and @humerh:
Specifications provided by Mattia:
- [example-calculations.docx](https://github.com/clarity-h2020/csis/files/4616153/Calculation.example.for.a.sample.cell_2.docx)
- [general-description.pptx](https://github.com/clarity-h2020/csis/files/4616172/Adaptation.strategies.calculation.pptx)

#### Currently, I would favor the follo

[2020-05-13 08:10] DenoBeno commented on #155
How much of this has already been implemented? Can/should I help with something?

[2020-05-13 08:20] DenoBeno commented on #159
Honestly, I don't know.

I have changed the label of https://csis.myclimateservice.eu/taxonomy/term/2262 now

That was easy and shouldn't cause any problems since labels aren't used by underlying software for anything ("meaning ID" field didn't change). But where else does it need to be changed?

[2020-05-13 08:26] patrickkaleta commented on #155
Those 3 new Node/Taxonomy types have yet to be implemented.

I didn't want to introduce such major changes in the CSIS data model, since it would affect the public Beta release (#145) because these data model changes need to be reflected in the content/config synchronization between Drupal instances (#135).

However, setting up the new GeoServer instance is stalling the Beta release anyway, I've s

[2020-05-13 08:34] #60 closed

[2020-05-13 08:37] p-a-s-c-a-l commented on #135
done

[2020-05-13 08:37] #135 closed

[2020-05-13 08:49] p-a-s-c-a-l commented on #110
closed until we find a find a volunteer

[2020-05-13 08:49] #110 closed

[2020-05-13 08:50] p-a-s-c-a-l commented on #98
c

[2020-05-13 08:50] #98 closed

[2020-05-13 08:57] p-a-s-c-a-l commented on #140
What's the status here? Can we close this issue?

[2020-05-13 09:00] RobAndGo commented on #140
I have already added a description of the data, and since no one seems to object to it, I think we can close this issue, The text update for other aspects of the CSIS is covered in another github issue started by @claudiahahn.

[2020-05-13 09:00] p-a-s-c-a-l commented on #137
Doesn't [seem so](https://github.com/clarity-h2020/data-package/issues/21#issuecomment-587473641).
If the situation changes, we can reopen, but ATM there's no future exposure in sight.

[2020-05-13 09:00] #137 closed

[2020-05-13 09:02] p-a-s-c-a-l commented on #146
Is this still relevant?

[2020-05-13 09:04] p-a-s-c-a-l commented on #140
Thank you!

[2020-05-13 09:04] #140 closed

[2020-05-13 09:04] DenoBeno commented on #159
By the way, are we using mysql or posgresql DB backend? If mysql, we could really try out https://www.drupal.org/project/scanner

[2020-05-13 09:14] p-a-s-c-a-l commented on #159
`field_id` and `field_rcp` are used at least in map and table component and shouldn't be changed.

We are using PostgreSQL.

[2020-05-13 09:18] DenoBeno commented on #159
- Marketplace is at https://myclimateservice.eu/
- I usually write EMIKAT, but http://www.emikat.at/?lang=en says "emikat". hm.
- intro text is indeed hard coded at the moment. Sh*.. Let me take a look at that.

[2020-05-13 10:27] DenoBeno commented on #159
**@intro text.**

The way this is implemented now, the intro text is taken from taxonomy term and the same for all studies. It's not even study type specific, which is not good IMO.

Now, the problem is that the intro text is part of the group and not part of the group nodes... That is, we aren't producing it on the fly from templates but are instead just adding a new group with some fields set to

[2020-05-13 10:33] DenoBeno commented on #159
That's clear. I'm specifically interested in that strangely looking title field. Title  *should* not be used for anything except displaying things, but I want to be sure here...

[2020-05-13 11:01] DenoBeno commented on #159
I have noticed that the images upload path is a public one.

https://csis.myclimateservice.eu/admin/config/content/formats/manage/basic_html?destination=/admin/config/content/formats

Should this be changed to private images?

[2020-05-13 11:32] DenoBeno commented on #159
@claudiahahn : I have updated the texts that you provided, but that's just for the first step. You can see the new texts here:

https://csis.myclimateservice.eu/taxonomy/study-type/screening-urban

[2020-05-13 13:14] patrickkaleta commented on #159
The csis helpers module does not use any of the fields nor the whole [EmissionScenarios](https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/emissions/overview) taxonomy at all, so changing the titles of these taxonomy terms won't affect the csis helpers module.

By the looks of the whole taxonomy, I'm guessing that @DanielRodera created it way back (when we thought about an automated

[2020-05-13 13:33] patrickkaleta commented on #146
I'm not aware of any progress here and I'm currently not able to contribute here. I'm not even sure if this include/remove resources in report would have any real benefit for users. **IMO this is no longer relevant** and we should focus on adaptation options and their impact/cost calculation.

[2020-05-13 15:02] #146 closed

[2020-05-17 17:44] patrickkaleta commented on #155
I've now implemented the [above mentioned](https://github.com/clarity-h2020/csis/issues/155#issuecomment-627403944) Data model for Adaptation Projects (=AP) and created the necessary Views so that users can add a Adaptation Project to their Study.
See example here: https://csis.myclimateservice.eu/study/25/step/3686/view/table

I've also adapted the REST Views, so that @humerh can access all the p

[2020-05-19 08:07] p-a-s-c-a-l commented on #134
**Chrome** *sometimes* complains about:

This error message is misleading. The iFrame **within CSIS** is loaded via **https** from https://clarity.saver.red/study-risk/reference/132/, definitely not via **http**

![grafik](https://user-images.githubusercontent.com/1788226/82301319-59eda480-99b8-11ea-900e-dcf5ab474ffe.png)

But, directly calling https://clarity.saver.red/en/study-risk-spain/simulat

[2020-05-19 08:08] p-a-s-c-a-l commented on #134
Somehow I've managed to get access to the application, probably a caching issue on Drupal or chrome side. Anyway, I get:

![grafik](https://user-images.githubusercontent.com/1788226/82301463-96b99b80-99b8-11ea-8f2a-195723c58254.png)

[2020-05-19 10:22] p-a-s-c-a-l commented on #134
Firefox 76 / Win10:

![grafik](https://user-images.githubusercontent.com/1788226/82315268-5b749800-99cb-11ea-8099-dded6300c72a.png)

An error occurred when connecting to profile.myclimateservices.eu.
This problem can sometimes occur when cookies are disabled or rejected.

[2020-05-19 10:45] therter commented on #134
I have found a problem (but I am not sure, if this is the only one): The invocation of the url https://clarity.saver.red/study-risk/reference/132/ sends a response with the status code 302 (Found (Moved Temporarily)) with the new location http://clarity.saver.red/study-risk-spain/simulation/77/  and this URL does not use the https protocol and leads to the error "This request has been blocked; the

[2020-05-19 13:14] rapto commented on #134
There is definitely a problem in the redirection, which had been masked from my point of view because the redirection "autocorrected" itself when using the web page outside an embedded frame. I have found this environment is quite tricky regarding permissions, granting access to outside resources, etc. I will fix it asap.
The other problem is the granting of permissions. Since the creation of the

[2020-05-19 13:30] luis-meteogrid commented on #134
I have just tried with https://clarity.saver.red/study-risk/reference/145/  and the new location is https://clarity.saver.red/en/study-risk-spain/simulation/94/ as it should be. I Have tried with the one you mention but I have no permissions to access this study, anyway the browser shows as new location an https url.

[2020-05-19 13:52] rapto commented on #134
The https redirect is fixed. For some reason, the protocol header arrives as `https,https` instead of the expected `https`

[2020-05-19 18:48] rapto commented on #134
Studies created by the api interface must include a users field (a list of user login names, eg ["angela"]) to which permission is granted. Initially, it shoud include the web page user name so that they can see their brand new study. @patrickkaleta , let me know if you have any problem including the new parameter.

[2020-05-19 21:14] DenoBeno opened #161 "Vulnerabilities for the simple screening"
Question: what we can tell the people to use as “proxy for risk/impact” in simple screening study?

For example, a proxy for the heat stroke risk could be a building density x some heat index.

Technically, we can tell this to the user by explaining this in the vulnerability node. One can add such nodes on https://csis.myclimateservice.eu/node/add/dp_vulnerability and I have just produced a simple

[2020-05-19 23:02] DenoBeno commented on #161
I made a few more tests, you can see them here: https://csis.myclimateservice.eu/study/138/step/4143/view/summary

THE USUAL RANT: OUR SCALES ARE TERRIBLE :-(

[2020-05-19 23:17] DenoBeno commented on #104
I have tested the options we have for the simple screening and encountered several issues. Most, if not all of these have been reported by me before but nothing has changed so far:

See https://csis.myclimateservice.eu/study/138/step/4143/view/summary for examples I have in mind.

First, OUR SCALES ARE TERRIBLE. I have reported this before, again and again, but nothing changes.

1. A scale that st

[2020-05-20 05:30] p-a-s-c-a-l commented on #104
Styles/Scales are configured on GeoServer. Maybe @DanielRodera is able to address his with help from @RobAndGo.

We could try to import CLC into ATOS GeoServer instance , so we have full control over it. Means, we can also change the legend. CLC should be available as open data (Shapfile, etc.).

Yes, they are still loaded from the old GeoServer which does not have http**s** enabled. This will be

[2020-05-20 07:39] patrickkaleta commented on #134
Ok great, I'll start working on it. Let me see, how much work it would be to configure our trigger to update the simulation inside the TM each time a new member is added in our Study. That way the initial Study member wouldn't have to grant permissions to other users manually via the GUI.

[2020-05-20 07:40] RobAndGo commented on #104
I thought this may be a problem of links not being correct after the migration to the new geoserver by METEOGRID? I thought this was mentioned on Monday by @ghilbrae and that any issues should be reported to her.

[2020-05-20 08:01] p-a-s-c-a-l commented on #104
It is correct that the *new* GeoServer is currently lacking the styling ('scales').

But the migration is not done yet. We still use the old instance. So this an independent problem with the current styling.

[2020-05-20 08:10] luis-meteogrid commented on #134
@patrickkaleta don't forget about the study type field, it could be spain or europe, so we can create the study with the Spanish DataPackage or the European DataPackage.

[2020-05-20 08:25] patrickkaleta commented on #134
Ok that's new to me. @rapto could you give me some details about that? So far all the Studies wege given the `simulationtype` = 118. I'm guessing that one is for Studies inside Spain. What number shall I give to Studies outside Spain?

Checking the [API](https://clarity.saver.red/es/simmer/api/simulationtype/) I can see two different Simulation types - `CLARITY_STUDY_SPAIN` and `CLARITY_STUDY_EURO

[2020-05-20 08:56] rapto commented on #134
@patrickkaleta The ids are exposed now at
https://clarity.saver.red/en/simmer/api/simulationtype/
[code]

[2020-05-21 06:57] ghilbrae commented on #104
We are updating the layers with the correct styles this week, so you'll find layers with correct styles and layers without.
A different matter is that there may still be layers, even updated ones, that may have styles that you don't like or that could be improved in some ways. That is something that we know nothing about, we'd need you to tell us exactly which layers and which scale/style you want

[2020-05-22 06:46] patrickkaleta commented on #134
Thanks @rapto. I've included the `users` parameter and made the `simulationtype` parameter depend on the selected country. It's not yet deployed, since I noticed a couple of things:
- our admins are not able to create TM studies or be included in them, since for them SSO is not enabled and therefore the TM doesn't recognize them as users. @fgeyer16 maybe we need to rethink how we handle admins and

[2020-05-22 08:29] rapto commented on #134
I have deleted most of them, but left those we use for internal testing. I have set the reference to null so it does not interfere with the integration.

[2020-05-22 10:09] luis-meteogrid commented on #134
Hi @patrickkaleta, have you been able to modify the CSIS and fix the problem? It is just because we are planning tests know. So if you want us to test anything just let us know.

[2020-05-22 10:36] patrickkaleta commented on #134
Hi @luis-meteogrid. I deployed the changes - when transmitting Studies to the TM app, it now also sends the users and the simulation type is set depending on the selected country. Admin users are currently not included, since they are unknown to the TM (we will work on this issue together with @fgeyer16).

**You can test the TM studies in the CSIS now - your users (luis, angela and meteogrid are n

[2020-05-26 09:49] ghilbrae commented on #134
We've been testing the integration these past two days and we are stuck in the login screen both for existing studies or new ones. I created this one: [https://csis.myclimateservice.eu/study/147/view/intro](https://csis.myclimateservice.eu/study/147/view/intro), just to ensure that there were no lingering issues from older studies. What I get is either the error screen coming from the error `clari

[2020-05-26 12:00] luis-meteogrid commented on #134
@fgeyer16 It is seems that we have now another problem that may be related with the SSO,
https://profile.myclimateservices.eu/cas/login?service=https%3A%2F%2Fclarity.saver.red%2Faccounts%2Flogin%2F%3Fnext%3D%252Fstudies%252Freference%252F55%252F
can you please check if it is working properly?

[2020-05-26 12:28] ghilbrae commented on #134
It seems that there's a problem with the URLs that are being used from the CSIS to call the TM. For example, the CSIS is using https://clarity.saver.red/studies/reference/145/ when it should be calling to
https://clarity.saver.red/study-hazard/reference/145/ (in case of hazard, but the same applies for the rest). The test study we have used is this one: https://csis.myclimateservice.eu/study/145/

[2020-05-26 12:32] p-a-s-c-a-l commented on #134
What happens if you access the TM directly: https://clarity.saver.red/en/studies-spain/simulation/66/ ?
I get:

Accessing the the same page from within CSIS (https://csis.myclimateservice.eu/study/147/step/4333/view/maps) results in an infinite redirection loop of embedded the TM iFrame caused by CAS:

![grafik](https://user-images.githubusercontent.com/1788226/82900501-eec64400-9f5c-11ea-8590-996

[2020-05-26 13:09] p-a-s-c-a-l commented on #134
The iFrame is correctly  initialised with https://clarity.saver.red/study-hazard/reference/145/ and then redirected by TM to https://clarity.saver.red/study-hazard-spain/simulation/94/ and then again redirected by CAS (profiles.myclimateservices.eu) to https://clarity.saver.red/en/study-hazard-spain/simulation/94/ (not https://clarity.saver.red/study-hazard/reference/145/)

[2020-05-26 13:13] p-a-s-c-a-l commented on #134
You can verify the original TM iFRame URL in the browser console:

![grafik](https://user-images.githubusercontent.com/1788226/82904930-73b45c00-9f63-11ea-9e49-cf6220a0a136.png)

[2020-05-26 14:38] luis-meteogrid commented on #134
If you access directly either https://clarity.saver.red/studies/reference/55/ or  https://clarity.saver.red/studies-spain/simulation/66/ you get:
![image](https://user-images.githubusercontent.com/1586268/82913979-4372ba80-9f6f-11ea-8133-5255993beac9.png)

[2020-05-26 14:43] luis-meteogrid commented on #134
We have used this strategy in order that you don't have to change the url you access whether are working in a Spanish-study or in an European one

[2020-05-27 06:38] p-a-s-c-a-l commented on #148
Is this done yet?

[2020-05-27 07:39] patrickkaleta commented on #148
@rapto what's the status for the PDF generation in the TM?

[2020-05-27 09:30] p-a-s-c-a-l commented on #161
Not with the current implementation. Scenario Selection implemented by @patrickkaleta would have to support the selection two scenarios. But this is just the first step.

Isn't this a feature that should be addressed in the twins tab? Anyway turning off synchronisation *by default* in Simple Screening is not a big deal.

Regarding the 1st one which requires quite some changes let's wait for the ou

[2020-05-27 10:13] rapto commented on #134
The url  `https://clarity.saver.red/study-exposition/reference/_ID_/elements_exposition/` is now working

[2020-05-27 10:56] p-a-s-c-a-l opened #162 "Perform CSIS Beta Release"
In this issue we plan the [CSIS BETA Release](https://github.com/clarity-h2020/csis/issues/145). We have to define a time frame when all people are available needed for release preparation so that we can minimise the downtime of csis.myclimateservice.eu

### Release Preparation
Resolve remaining issues:
- [x] @DanielRodera [New geoserver (geoserver.myclimateservice.eu) uses different layer name](h

[2020-05-27 13:09] claudiahahn commented on #159
I have updated the text for the CSIS steps: (https://newrepository.atosresearch.eu/index.php/apps/files/?dir=/CLARITY/WP1%20CO-Creation/T1.3%20Climate%20Services%20Co-Creation/CSIS-text&fileid=417380/Text_for_CSIS_v2.docx)

-	Advanced screening – urban infrastructure: I changed the following, also in the template (https://csis.myclimateservice.eu/taxonomy/study-type/screening-urban):
o	Streams com

[2020-05-27 14:41] rapto commented on #134
I am studying the auth loop. The cas auth ticket has lost its way (it shoud reuse the main frame cas ticket, but I have to read how that works).

[2020-05-27 19:15] rapto commented on #134
OK; I have found that the stricter cookie policy in Django 2 sent Lax cookies. I have reset the policy to None, so now the session cookies are correctly allowed.

[2020-05-27 19:34] rapto commented on #134
If there are any experts in the room, let me know if there is some way to reuse the csis login from the iframe. In the long run, it is clear that some rich api (that builds the interface) is the way to go.

[2020-05-28 06:50] luis-meteogrid commented on #134
Great! Actually it is working although it is not yet connected to the desired pages in each section at least CSIS is already connecting to the transport module. I think we don't have much left.  Come on, we're almost there.

[2020-05-28 07:43] p-a-s-c-a-l commented on #134
O.K. Please let me know if any of the embedded iframes links to the wrong pages and let me know. I've configured them according to [these links](https://github.com/clarity-h2020/csis/issues/134#issuecomment-633993635).

[2020-05-28 08:48] DanielRodera commented on #162
Our IT people are already warned and prepared to do the change on your command.

[2020-05-28 13:55] luis-meteogrid commented on #134
It seems everything it is working properly. Let me check a few more cases before closing the issue. Thank you very much to you all.

[2020-05-29 09:21] ghilbrae commented on #134
We understand that the selection of the study type (Europe or Spain) should be done when creating a new study, an extra option along with the three already existing. This approach will also enable the users to create a study for Spain using the European variables available, as if it were any other country.

We are testing the TM creation through the CSIS but we do not get any option to select the

[2020-05-29 09:54] p-a-s-c-a-l commented on #134
We've disabled changing the study type of existing studies as it introduced too many side effects. Country however can be changed in the [study context](https://csis.myclimateservice.eu/study/151/view/context):
![grafik](https://user-images.githubusercontent.com/1788226/83246965-21fa1480-a1a3-11ea-91b8-60693b87e953.png)

[2020-05-29 11:41] luis-meteogrid commented on #134
Fine, we have already checked this option and it is working

[2020-05-29 12:13] luis-meteogrid commented on #134
One other issue, when you give access to other users to yours studies this information is not shared with the transport module, so the TM doesn't allow you to see the maps or tables related. It respond with a message signaling you are not allowed to access the study.

[2020-06-01 19:47] claudiahahn commented on #159
I have updated the text for the exposure step: (https://newrepository.atosresearch.eu/index.php/apps/files/?dir=/CLARITY/WP1%20CO-Creation/T1.3%20Climate%20Services%20Co-Creation/CSIS-text&fileid=417380/Text_for_CSIS_v3.docx)

The new text is also available in the study 25: https://csis.myclimateservice.eu/study/25/step/3683/view/introduction

I have not yet updated the templates (https://csis.myc

[2020-06-02 06:25] patrickkaleta commented on #134
Currently the TM only gets updated when changes directly inside the Study take place. Adding/changing the members of a Study are not considered as changes to the Study itself and therefore no update is pushed to the TM.

**I'll have to look into it and see how we could trigger such an update in the members list.** For the meantime, if you want to push an updated members list for a Study, just chan

[2020-06-02 08:04] luis-meteogrid commented on #134
One more thing, Is it possible to enlarge the embedded screen area for the TM? We are going to remove the menu bar but even doing that the map area remains still a bit small to work comfortably.

[2020-06-02 08:28] p-a-s-c-a-l commented on #159
Please wait. Now that we are making the system public for everyone we've moved it to a new server. That means all changes have to be made in https://csis-dev.myclimateservice.eu and we synchronise them to https://csis.myclimateservice.eu. So please don't make any direct changes in csis.myclimateservice.eu.

[2020-06-02 08:48] patrickkaleta commented on #162
@fgeyer16 and I will further talk about the open actions for this issue on Thursday. He'll look into the CAS/SSO before that if possible.

In the meantime it's still possible to login directly into either PROD or DEV instance if necessary (e.g. for admins) by directly visiting the individual login pages:
https://csis.ait.ac.at/user/login
https://csis-dev.ait.ac.at/user/login

[2020-06-03 07:38] p-a-s-c-a-l commented on #162
https://csis.myclimateservice.eu/ and https://csis-dev.myclimateservice.eu/ are now available. Sites are put in maintenance mode until remaining steps have been resolved.

[2020-06-03 13:57] claudiahahn opened #163 "extracting data from climate index maps"
@ghilbrae, @LauraMTG, @luis-meteogrid
Is there a way to extract data from the maps for the study area selected?
I have the impression that was done initially as we tried to display the hazard table. Or am I mistaken? It would be great to somehow be able to get the value of the indices for the historical and future time periods, either displayed when moving over the map or extracted and made availa

[2020-06-04 08:00] ghilbrae commented on #162
Hi! To access the csis-dev can we use the same user/pass that we have been using up until now?

[2020-06-04 08:03] patrickkaleta commented on #162
Yes, usernames and passwords are still the same. If you have problems with your credentials, let me know.

[2020-06-04 08:58] p-a-s-c-a-l commented on #163
Yes we had [this table](https://github.com/clarity-h2020/table-components) with aggregated values (only for heat) but then we couldn't cope with changes in the data structure and then eventually abandoned it in favour of a [simpler table](https://github.com/clarity-h2020/simple-table-component) which is fed by EMIKAT data only (HC: HW Events; EE: Population; HC-LE: TMRT, etc.; IA: Mortality Rate).

[2020-06-04 09:11] patrickkaleta commented on #162
Configuration of the [csis_helpers module](https://github.com/clarity-h2020/csis-helpers-module) for the **DEV <-> PROD** setup is now complete.

Emikat trigger, TM trigger and Emikat-Testing trigger are only active for `https://csis.myclimateservice.eu/` as the Host URL. For the DEV environment or any local CSIS instances, those triggers will not fire and instead a log message will be written to

[2020-06-04 10:21] RobAndGo commented on #163
1. I thought it could be good to have a numerical value "pop up" in a message box when the user moves their mouse over the map. This may be useful in case the colour scale makes it hard to see differences in the fields. I didn't think it would be necessary to have the values output to file nor included in the report. That is, this is simply an additional visual tool.

2. & 3. Once the variable or

[2020-06-04 11:46] claudiahahn commented on #163
I agree with @RobAndGo.

1. Having the pop-up showing the numerical value would help if the colorscale is not great. What I had in mind as well was the ability to show the user how an index will change in an easy way (right now one has to change the time period and select the layer again. Having two maps showing different time periods, as you have mentioned, will already help). To keep it "simple"

[2020-06-04 13:41] patrickkaleta commented on #162
SSO is now disabled on the DEV system.

[2020-06-04 14:48] patrickkaleta commented on #162
This is planned for tommorrow (around noon).

[2020-06-05 06:10] p-a-s-c-a-l commented on #162
O.K., so what does this mean for our [acceptance tests](https://github.com/clarity-h2020/csis-technical-validation/wiki/Acceptance-Test-Specification#walkthrough)? If a user creates a new account, is manual intervention needed before he/she can perform a new screening study?

[2020-06-05 06:11] p-a-s-c-a-l commented on #162
What is the status here?

[2020-06-05 06:31] #156 closed

[2020-06-05 06:36] p-a-s-c-a-l commented on #104
closing this 'mega issue' in favour of more focussed ones.

[2020-06-05 06:36] #104 closed

[2020-06-05 06:41] p-a-s-c-a-l commented on #23
done

[2020-06-05 06:41] #23 closed

[2020-06-05 06:42] p-a-s-c-a-l commented on #61
@DanielRodera

[2020-06-05 06:42] p-a-s-c-a-l commented on #145
done

[2020-06-05 06:42] #145 closed

[2020-06-05 06:47] p-a-s-c-a-l commented on #163
O.K. I think what @RobAndGo proposed is achievable once we know how to get the actual values from the GeoTIFF. Everything else may be supported later.

[2020-06-05 07:35] patrickkaleta commented on #162
No, thankfully not. Permissions are handled on a (user-)**ROLE** level. Any new user account will get the permissions set automatically based on the (user-)roles that this account is given.

Manual intervention will be needed if we create new content types and need to decide what kind of permissions will be necessary for it (make it read-only on PROD? Maybe just allow changes to it on PROD by Edit

[2020-06-05 07:56] p-a-s-c-a-l commented on #162
FYI: @therter updated the [cities script](https://github.com/clarity-h2020/docker-drupal/blob/dev/scripts/republish.sh) which should be run during synchronisation to update the cities taxonomy with cities [having HC-LE data available](https://geoserver.myclimateservice.eu/geoserver/clarity/wms?service=WMS&version=1.1.0&request=GetMap&layers=clarity%3Acity&bbox=1969465.0%2C996016.875%2C7168551.0%2C

[2020-06-05 08:21] DanielRodera commented on #61
Done

[2020-06-05 09:03] #61 closed

[2020-06-05 09:49] patrickkaleta commented on #162
I'm trying to push the latest changes in the configuration to our private gitlab repository, but I'm getting the following error:
`error: failed to push some refs to 'git@gitlab.atosresearch.eu:ari/clarity-csis-drupal.git'`

Screenshot:
![git-push-error](https://user-images.githubusercontent.com/42167036/83862484-4a918980-a722-11ea-9a21-4b1855b59636.png)

@p-a-s-c-a-l how did you manage to push ch

[2020-06-05 10:01] p-a-s-c-a-l commented on #162
on which instance?

[2020-06-05 10:02] p-a-s-c-a-l commented on #162
imho @maesbri has to unlock the ip

[2020-06-05 10:03] patrickkaleta commented on #162
on the DEV instance

[2020-06-05 11:34] p-a-s-c-a-l commented on #159
![grafik](https://user-images.githubusercontent.com/1788226/83871566-92b7a880-a730-11ea-87c9-d89c5f04681b.png)

To restore consistency in naming conventions, I've renamed it to **Emissions Scenario: RCP 8.5 (worst case)** in DEV instance. Now we have to sync it to PROD.

[2020-06-05 11:38] p-a-s-c-a-l commented on #159
@claudiahahn

You can now make these changes on https://csis-dev.myclimateservice.eu

[2020-06-05 11:45] claudiahahn commented on #159
@p-a-s-c-a-l , Thanks!
I hope to do that soon, but probably won't manage today. I will write, when I have done it.

Short note: in the screenshot you have send, it says "worst case scenario", but it should be "RCP 8.5 (worst case scenario)"

[2020-06-05 13:15] patrickkaleta commented on #162
@maesbri or @DanielRodera can you please check the security settings for the [private Gitlab repository](https://gitlab.atosresearch.eu/ari/clarity-csis-drupal/tree/dev).

We need to be able to push/pull changes from our new DEV and PROD servers to this repository in order to perform config/content synchronizations between those two servers.

[2020-06-08 08:05] maesbri commented on #162
I am checking it now with our IT. I'll let you know asap when it is fixed.

[2020-06-08 10:57] patrickkaleta commented on #162
New repository also not working (getting a "connection timed out" error). I've created a separate [issue](https://github.com/clarity-h2020/docker-drupal/issues/150) for that now.

As discussed today, I will now instead move the necessary yaml configuration files manually and run the import for our cities/regions taxonomy, so that the City selection box will only contain "working" cities.

[2020-06-08 13:16] patrickkaleta commented on #162
Countries and Cities/Regions have been successfully synchronized! ATM **12 out of 43** Countries and **20 out of 455** Cities/Regions can be used in the CSIS.

@therter's [republish script](https://github.com/clarity-h2020/docker-drupal/blob/dev/scripts/republish.sh) is now available on the DEV server (under `/home/patrick/`) and executable (had to install zip and unzip modules on the DEV server f

[2020-06-09 13:57] claudiahahn commented on #159
@p-a-s-c-a-l with the login data I have, I cannot login to the CLARITY CSIS - DEVELOPMENT INSTANCE. I just wanted to update the text for the templates (https://csis-dev.myclimateservice.eu/taxonomy/term/1159)

[2020-06-09 17:15] p-a-s-c-a-l commented on #159
@fgeyer16 How can we resolve this issue of allowing CLARITY partners to use their CAS login for the dev instance of CSIS?

[2020-06-10 05:33] p-a-s-c-a-l commented on #162
done :-)

[2020-06-10 05:33] #162 closed

[2020-06-10 07:44] patrickkaleta commented on #159
I believe I was able to fix this by changing the settings in the CAS module on the DEV instance. Admins and accounts which were created "outside" of the CAS system were working fine, but others (like Claudia) couldn't log in until now.

@claudiahahn please try to access the CSIS DEV instance again.

[2020-06-10 08:10] claudiahahn commented on #159
@patrickkaleta I tried to login, but It still does not work for the DEV instance. My login name is claudiahahn

[2020-06-10 08:38] patrickkaleta commented on #159
Sorry, to hear that. I think it will be necessary to remove the CAS module completely from the DEV instance. But then users will need to use the "forgot password" link when trying to login for the first time on DEV. @fgeyer16 do you see any other possibility that would allow users to login on DEV without giving them any troubles?

@claudiahahn in the meantime, could you send me your updated text a

[2020-06-10 08:53] fgeyer16 commented on #159
If we do not want/need CAS/SSO on the dev instance I would remove it completely. A mixed login will always cause troubles if only because of the existence of two login possibilities. Users seem to tend always to use the wrong one ;-).

[2020-06-10 09:22] claudiahahn commented on #159
@patrickkaleta I wanted to update the descriptions of the first few study steps (General introduction, hazard characterization, local effect, exposure, description for advanced screening). The text is available on owncloud: https://newrepository.atosresearch.eu/index.php/apps/files/?dir=/CLARITY/WP1%20CO-Creation/T1.3%20Climate%20Services%20Co-Creation/CSIS-text&fileid=417380/Text_for_CSIS_v4.docx

[2020-06-10 09:35] patrickkaleta commented on #159
@claudiahahn ok I will take care of updating the texts. In the meantime I've reset your password for the DEV instance. I will send you a mail with the password. Once you logged in, you can change the password back to your original one [here](https://csis-dev.myclimateservice.eu/user/127/edit). This only affects the CSIS DEV instance, you don't have to change the password anywhere else.

[2020-06-10 09:51] claudiahahn commented on #159
@patrickkaleta Thank you!

[2020-06-10 10:50] patrickkaleta commented on #159
@claudiahahn I've updated the texts. I've made some comments, which are in the [document](https://newrepository.atosresearch.eu/remote.php/webdav/CLARITY/WP1%20CO-Creation/T1.3%20Climate%20Services%20Co-Creation/CSIS-text/Text_for_CSIS_v4.docx) on owncloud.

FYI: Currently, for the **Study Introduction** texts (so the texts shown at .../study/XX/view/intro) have to be chosen by the Study members (

[2020-06-11 10:53] ghilbrae commented on #148
@patrickkaleta as discussed on Monday, we are able to produce PDFs for testing now.

The URL that should be used is https://clarity.saver.red/reference/ID/pdf The resulting PDF is blank for now, but it should be enough for testing the integration. We'll let you know when the full PDF is available.

[2020-06-15 08:26] humerh commented on #154
The interface to the REST interface, including adaptation options is included in the Wiki page:
https://github.com/clarity-h2020/csis/wiki/Services-endpoints-(used-by-CSIS)

The new views for cost reports will also be documented there.

[2020-06-18 07:25] patrickkaleta commented on #155
IMO the data model now stands and Emikat is able to pull data from the CSIS and perform the calculation.

Closing this issue and resuming discussion here #154.

[2020-06-18 07:25] #155 closed

[2020-06-18 07:34] patrickkaleta commented on #154
CSIS is now able to show the results for the Adaptation option calculations in the **Map** and **Table** component. The Adaptation Strategy selected by the user is linked with the **study_variant** keyword `ADAPTATION-01`.

So, depending on the currently selected **Study scenario**, the Map and Table components will pull the results for either the baseline scenario or the adapted scenario from Emi

[2020-06-18 07:51] patrickkaleta commented on #154
Ideally, we can decouple the study_variant from the Study Scenarios, so that it could be possible to show in the Map component the differences of the Study scenario with and without Adaptation options side by side (we already have the split screen with two maps, so we should use it). @therter let's maybe discuss this in a short telco to see how feasible that would be for us in the remaining time.

[2020-06-18 08:27] patrickkaleta commented on #154
### Another thing, we need to check the plausibility of the adaptation options calculations.
I'm afraid currently it's not quite what we are looking for. For example see these two layers for the "Local effect mean radiant temperature":
1) ["No adaptation options" layer](https://service.emikat.at/geoserver/clarity/wms?CQL_FILTER=STUDY_VARIANT=%27BASELINE%27%20and%20TIME_PERIOD=%2720710101-21001231%

[2020-06-18 12:56] patrickkaleta commented on #148
I've included the link to the PDF generated by the TM. On the [Study Summary page](https://csis-dev.myclimateservice.eu/study/55/view/summary) the available PDF(s) are now listed in the right sidebar.

@ghilbrae as you said, the page is ATM mostly blank, so I'm going to leave this issue open, so that you can keep us updated about the progress on your side.

[2020-06-19 07:12] ghilbrae commented on #148
Perfect! Thank you very much. I'll update the issue when the PDF is less blank :smile:

[2020-06-23 07:12] ghilbrae opened #164 "New users on the CSIS"
We would like to use *meteogrid* user on csis-dev but we are having trouble login in. It simply does not work. It works on the operational CSIS, though.

We need a new user on the development machine. We are working with some people from the RESCCUE project and we'd like for them to be able to access the CSIS and work on the DP and Study we are creating with their results.

[2020-06-23 07:14] ghilbrae opened #165 "Permissions for creating TM studies"
We would like to request more users with permissions to create Transport Studies. Currently only the user *angela* can do it and it would be useful to have some others like *meteogrid*.

[2020-06-23 08:45] patrickkaleta opened #166 "Emikat calculation trigger sometimes causes CSIS to crash"
Following the CSIS acceptance tests, there were reports ([1](https://github.com/clarity-h2020/csis-technical-validation/issues/54#issuecomment-647377887), [2](https://github.com/clarity-h2020/csis-technical-validation/issues/53#issuecomment-646540847)) of an error after clicking the "Trigger calculations" button for the first time, which resulted in a WSOD.

**Cause:** Unclear yet. It doesn't happ

[2020-06-23 08:46] patrickkaleta commented on #166
Since the csis_helpers module is involved in the triggering, I will first look into the module.

[2020-06-23 10:37] p-a-s-c-a-l commented on #164
Did you try to login via https://csis-dev.myclimateservice.eu/user/login ? IMHO SSO is disabled for dev-csis, so you should not login via profiles.myclimateservice.eu.

Anyway, the user 'meteogrid' exists in DEV instance, so you should be able to login. But it seems [missing the EMIKAT Access credentials](https://github.com/clarity-h2020/docker-drupal/issues/152).

[2020-06-23 10:41] ghilbrae commented on #164
Yes, we have tried to log in using that URL and it doesn't work. Could it be possible that the password is different for some reason? @luis-meteogrid

[2020-06-23 10:45] p-a-s-c-a-l commented on #165
I've added the role *editor* to user *meteogrid* on both CSIS instances  **locally**. I did not touch the user managed by CAS on .profile since I'm not authorized to access the user admin page. Note that https://github.com/clarity-h2020/docker-drupal/issues/152 and https://github.com/clarity-h2020/csis/issues/164 have to be resolved first before *meteogrid* can create new TM studies.

[2020-06-23 13:42] patrickkaleta commented on #164
Seems like a lot more users are having issues accessing the DEV instance than previously thought.

The `meteogrid` user was created about 6 months ago, so probably after the CAS was already in use (@fgeyer16 when was the CAS first used?), so that means this user only has a "CAS password" set, which is of no use now in DEV, since CAS is not active there. @ghilbrae I will reset the password for the

[2020-06-26 07:37] #134 closed

[2020-06-26 07:41] luis-meteogrid opened #167 "Transport module embedded screen"
Is it possible to enlarge the embedded screen area for the TM? We are going to remove the menu bar but even doing that the map area remains still a bit small to work comfortably.

[2020-06-26 08:55] p-a-s-c-a-l commented on #167
What is the required size in pixels?

[2020-06-26 12:03] ghilbrae commented on #167
I think that @luis-meteogrid is aiming at something that makes using the TM from the CSIS more comfortable. I don't know if it is feasible to make it wider but it would definitely be an improvement if it was longer, maybe tale up the space that now is occupied by the **Select Scenario** button and the **No Study scenario currently selected**. Enlarging it as much as possible, TBH.

![image](https:

[2020-07-01 12:02] patrickkaleta opened #168 "Login problems for user account (SSO not working)"
A user is reporting problems with the SSO. For more details see error description [here](https://github.com/clarity-h2020/csis-technical-validation/issues/59).

[2020-07-01 12:47] patrickkaleta commented on #159
Do we need any additional changes to some of the Study/GL-step texts or can this issue be closed now?

[2020-07-01 13:07] patrickkaleta commented on #154
@mattia-leone and @stefanon **FYI:**
Heinrich fixed an error in the calculations. I re-triggered the calculations and the results now seem to be better, however the adapted scenario still shows sligthly higher temperatures than the baseline scenario.
BTW: Feel free to run your own adapted scenarios for your own Studies. Remember that in the development instance you cannot trigger the Emikat calcul

[2020-07-02 08:16] fgeyer16 commented on #168
The user was not existing on profile.myclimateservices.eu so SSO could not work.
Probably the user was removed from a automatic cleann up routine. I will check.

[2020-07-02 11:11] claudiahahn commented on #159
There will be a few more things that need to be updated, so I would leave it open.

[2020-07-03 08:23] ghilbrae commented on #167
@p-a-s-c-a-l we do not need the Scenarios for the TM studies so that button can safely disappear.

It could be useful in the future, if a better integration was developed and we could implement it on our side, but that seems quite improbable right now.

[2020-07-03 08:30] ghilbrae opened #169 "Adaptation options for Transport Studies"
We need to add Adaptation Options for Transport Studies. We already have a list of the AOs. What do we need to do to add them? Do we send you the list or do you prefer to grant us permissions to do it ourselves?

We've noticed that the selection of AOs is related to Urban Studies, so we do not know how our AOs can be taken into account in the current categories. If a new category can be added for

[2020-07-03 08:34] ghilbrae opened #170 "Adaptation Options for Expert Studies"
We are working on the RESCCUE project study and we've found a few things. RESCCUE has two different groups of Adaptation Options, they can be interpreted as scenarios for AOs. Currently, when we create a scenario, the only options are with or without adaptation options. Would it be feasible to add two more options to this list to account for these groups?

[2020-07-03 08:38] ghilbrae opened #171 "Update Texts for Transport Studies"
We already have the new versions for the texts for the Transport Studies. Do we send them to you or do you want us to change them ourselves? As discussed on Monday, we have no problem changing the templates if you point out to us where and how.

[2020-07-03 12:29] DenoBeno commented on #170
This is not how AOs in CSIS work. The "with AOs" option refers to use of adaptation scenario and is only relevant for advanced screening.

[2020-07-03 12:33] DenoBeno commented on #154
@mattia-leone has told me today that they have found some error in calculation. Didn't get it exactly, but it could be that we are multiplying the values of old parameters with new ones instead of replacing them.

[2020-07-03 12:39] DenoBeno opened #172 "Table view in "Hazard characterization" step."
Could someone please enlighten me concerning this page? It's in Hazard characterization, where we have tons of indices and where (as I just learned), the event frequency is not represented in the hazard data.

And yet, only two data sets are shown on https://csis.myclimateservice.eu/study/37/step/1640/view/table and they do reference period, rcp scenario and event frequency. and what is shown chan

[2020-07-03 12:46] RobAndGo commented on #172
I can explain.

Note that in the presentation, the heat index showing the temperature during a 7-day heat wave is a **user-friendly** version of what is shown in the table. This was only produced within the last weeks, and so was not uploaded into CSIS. And I think Meteogrid (@ghilbrae and @LauraMTG) are busy with other more important things than to deal with yet another dataset.

Originally, the

[2020-07-03 13:38] p-a-s-c-a-l commented on #172
The HC Table is not related to hazard layers show in the map at all.

Let me explain: New [simple tables](https://github.com/clarity-h2020/simple-table-component) are fed by **EMIKAT APIs** only, not HC datasets stored on GeoServer. Reason is that after changes in data structure and due to lack of resources for re-implementing the aggregation we had to abandon the old [table-components(https://git

[2020-07-03 13:57] RobAndGo commented on #172
Indeed the 35.5_0.066d is cryptic ![laugh](https://user-images.githubusercontent.com/45385637/86475679-6b5ef600-bd45-11ea-8bc4-5b3b29a207e4.gif) - here my thought was that it would be easy to write a script which splits this quantity at the delimiter _ to extract the two pieces of information.
But I was referring to having such a **small fraction of a day** (0.066d) count as a "heat wave". This is

[2020-07-03 17:00] mattia-leone commented on #154
Hi @patrickkaleta , did you check Martina's email? It relates with what @DenoBeno says. Actually is the opposite, before we put "multiply value" for the Ts parameter, which is wrong (and that could explain the higher values in the adaptation), while now Martina corrected this with "replace value"
Hopefully if you run another calculation we might be happy now..
Please let us know

P.S. working on t

[2020-07-06 06:56] patrickkaleta commented on #154
Hi @mattia-leone, yes I've read her mail. We will deploy her changes to the live CSIS soon (I'm assuming today or tomorrow) and then we can see how that affects the calculations for the adaptation options.

[2020-07-06 07:09] patrickkaleta commented on #169
Well I'm guessing your Adaptation options won't be compatible with the ones we already have from PLENIVS and which are used by Emikat. So, we would need a way to display only the compatible ones depending on the Study type. Using a new category for the AOs could be the way to go.

@ghilbrae please send me the list of the AOs, so that I can see if and how they can be used with our current data mode

[2020-07-06 07:13] patrickkaleta commented on #171
@ghilbrae can you tell me where exactly you want to update the texts? Is it in the Study-section or inside the individual GL-steps? Depending on that you would have to change the texts in different locations. I would then show you were exactly they can be changed and make sure that you have the necessary permissions to do so.

[2020-07-06 07:15] ghilbrae commented on #169
We have compiled the AOs on a User Guide that we have created for the Transport Studies. They are available in Annex 2.

[DC4_guia_uso_csis_saver_transporte_inglés_FINAL_arc.docx](https://github.com/clarity-h2020/csis/files/4877292/DC4_guia_uso_csis_saver_transporte_ingles_FINAL_arc.docx)

[2020-07-06 07:15] p-a-s-c-a-l commented on #165
done

[2020-07-06 07:15] #165 closed

[2020-07-06 07:15] p-a-s-c-a-l commented on #164
resolved

[2020-07-06 07:15] #164 closed

[2020-07-06 07:27] p-a-s-c-a-l commented on #167
O.K. I've updated the iFrames and set the height to 800px in DEV instance (@patrickkaleta we have to make sure that *Extended iFrame* nodes are [synchronised](https://github.com/clarity-h2020/docker-drupal/issues/147), too)

If the height is still not sufficient, you can easily change it yourself here:

- [Transport Application: Generic Table](https://csis-dev.myclimateservice.eu/node/4085/edit?de

[2020-07-06 07:35] ghilbrae commented on #171
@patrickkaleta for now we just need to change the texts in Vulnerability but, as we are working with users right now, we may need to change others at some other time.

[2020-07-06 07:42] ghilbrae commented on #167
Many thanks, it looks much better now!

[2020-07-06 08:16] claudiahahn commented on #159
``FYI: Currently, for the Study Introduction texts (so the texts shown at .../study/XX/view/intro) have to be chosen by the Study members (by clicking on "Change description" and then either writing a custom text or selecting one of the predefined onces), since by default only the general EU-GL description is displayed. For the Study 37 this was already done (I think by Denis?), so it already show

[2020-07-06 17:55] patrickkaleta commented on #167
For that map the height was still 500px in DEV, so I've changed that to 800px (this will take affect on the live CSIS after the next synchronization).

This is already the case and the changes are active on the PROD instance.

The scenario selection block is created by a [View](https://csis-dev.myclimateservice.eu/admin/structure/views/view/view_presets_and_edit/edit/block_2). I think I should be

[2020-07-07 12:18] patrickkaleta commented on #154
The changes made by Martina have been synchronized onto our PROD system and I triggered the Emikat calculation again. Looking at the results, I don't see any changes. However, I noticed that the [AO Effects taxonomy](https://csis-dev.myclimateservice.eu/admin/structure/taxonomy/manage/localeffectsparameters/overview) has some problems. Some effects are included multiple times:
![AO-effects-duplica

[2020-07-07 13:18] martinapizzicato commented on #154
Hi @patrickkaleta , could you give me the authorization to delete them? I'm using Mattia Leone's account.
I don't know why, but sometimes the csis duplicates my uploads. It also happened with some showcases, i noticed it with double hazard showcases (like heat and flood for Bo01 project).

[2020-07-08 07:52] patrickkaleta opened #173 "Invalid web certificates?"
I tried to access https://csis.myclimateservice.eu/ and https://csis-dev.myclimateservice.eu/, but both were unreachable, Chrome said it couldn't establish a secure connection (exact error code in Chrome: `NET::ERR_CERT_AUTHORITY_INVALID`).
Then after a while, suddenly https://csis-dev.myclimateservice.eu/ became accessible again, showing no more warnings or errors. What appears to be different in

[2020-07-08 08:27] p-a-s-c-a-l commented on #173
The certificate warning comes from the reverse proxy when the backend (drupal apache) is not reachable.
I'm currently [updating the docker containers](https://github.com/clarity-h2020/docker-drupal/issues/156) as announced on Monday so that @fgeyer16 can update Drupal Core and Modules.

[2020-07-08 08:27] #173 closed

[2020-07-08 09:24] patrickkaleta commented on #154
You should now be able to remove terms from the [LocalEffectsParameters](https://csis-dev.myclimateservice.eu/admin/structure/taxonomy/manage/localeffectsparameters/overview) taxonomy on the DEV instance.

That is a strange and unique behaviour. Can't really help without further information. Are you maybe using the "go back" button of your browser after you clicked on the Save button down at the b

[2020-07-08 13:42] #172 closed

[2020-07-08 13:43] #161 closed

[2020-07-10 05:15] Gauravp-NEC commented on #11
@p-a-s-c-a-l How did you configure the SMTP server.I am also getting the same error when I am trying to create a new user using their email via the Add Member button in an organization.

"Error sending the invite email, the user was not created: SMTP server could not be connected to: "localhost" [Errno 99] Cannot assign requested address"

[2020-07-10 06:30] p-a-s-c-a-l commented on #11
@Gauravp-NEC You can change the [email settings](https://docs.ckan.org/en/ckan-2.7.3/maintaining/configuration.html#email-settings) in [CKAN configuration file](https://docs.ckan.org/en/ckan-2.7.3/maintaining/configuration.html#ckan-configuration-file).

[2020-07-13 04:37] Gauravp-NEC commented on #11
@p-a-s-c-a-l  Thank you for response.
I am beginner in ckan. Do I need to install SMTP Server on my local machine?

[2020-07-13 06:45] patrickkaleta commented on #171
To change the introduction texts for TM Studies in general, just edit the appropriate GL-step template inside the [StudyType taxonomy](https://csis-dev.myclimateservice.eu/taxonomy/term/3895/edit?destination=/admin/structure/taxonomy/manage/study_type/overview). **Note: That will only affect all TM Studies that are created after that point. Existing TM Studies will not be affected**

**1)** Scroll

[2020-07-13 06:46] patrickkaleta commented on #171
If you want to change the texts of existing TM Studies, you will have to do this one by one. For that just visit the GL-Step in question and click on the **Change description** button on the bottom.

[2020-07-13 14:28] DenoBeno opened #174 "New nodes aren't produced for study types that aren't published"
Apparently the issue is in https://csis-dev.myclimateservice.eu/admin/structure/views/view/rules_study_templates

I think that I've fixed it, need to test.

[2020-07-13 14:30] DenoBeno commented on #174
works now. The issue was simply in this view filtering out only published taxonomy terms.

[2020-07-13 14:42] DenoBeno opened #175 "Calculation can't be triggered on test instance of CSIS"
I suppose this is meant as a feature, but now I can't test the updated screening workflow because I can't trigger the calculation. How is this supposed to work?

[2020-07-13 14:46] DenoBeno commented on #175
I have entered one EMIKAT ID from an existing study and now I can see how the new study looks like, I just can't trigger anything new.

[2020-07-13 15:00] DenoBeno opened #176 "Search radius isn't working in "twins""
I suppose this has something to do with change of the map type?

[2020-07-13 15:40] DenoBeno opened #177 "AO appraisal step for advanced screening study"
Summary: in advanced screening, differentiate between "AO Identification" and "AO appraisal" steps.

- [x] Define new templates for these two steps and adm to test study type
- [x] In AO identification allow the users to explore the available adaptation options
- [x] In AO appraisal, allow the users to define the adaptation strategy
- [x] In AO appraisal, allow the users to trigger re-calculation

[2020-07-13 15:44] DenoBeno commented on #177
I have defined a new "test" workflow that extends and improves the "Advanced screening". Some of it works as designed, some doesn't and will require your attention:

1) Possibility to trigger re-calculatioon directly from AO Appraisal step (easy to implement, I presume)
2) Possibility to use scenario analysis in this step. Currently nothing is shown at all, no idea why.
3) Possibility to visualize

[2020-07-14 08:22] patrickkaleta commented on #175
Exactly, it's a safety precaution. It's not possible to trigger Emikat from the DEV instance, so that it doesn't interfere with the "real version" of the Study on PROD.
E.g. someone mistakenly edits the Study on DEV (changes Area or Adaptation option or whatever) and runs the calculation again. PROD would then only seemingly show Emikat results for the selected settings on PROD, when in reality it

[2020-07-14 08:39] patrickkaleta commented on #176
Where? On which Twins map? For [Hazard Char.](https://csis-dev.myclimateservice.eu/study/25/step/3681/view/twins) its working. For [Exposure](https://csis-dev.myclimateservice.eu/study/25/step/3683/view/twins) the Map type was wrong, but even despite that search radius was still working (I changed the map type on DEV to Leaflet, so it's now the correct one).

[2020-07-14 11:58] patrickkaleta commented on #177
Reason for that was that the [View](https://csis-dev.myclimateservice.eu/admin/structure/views/view/view_mode_for_gl_step/edit/page_7) had a filter applied, which allowed only GL-steps with the EU-GL methodology tax. term = "Risk and Impact Assessment". I've removed that filter and now the Scenario Analysis app is also shown in this AO appraisal step.

[2020-07-16 10:31] #167 closed

[2020-07-17 10:34] #175 closed

[2020-07-17 10:34] #168 closed

[2020-07-20 07:34] patrickkaleta opened #178 "Create new Showcases directly on PROD rather than on DEV"
**Problem:**
As mentioned [here](https://github.com/clarity-h2020/csis-technical-validation/issues/63), there is currently now migration file for Showcases. So I started working on it and realized the complications with that. Showcases reference Solution providers, which are users in our system. However, we deactivated CAS (Single-sign-on) on DEV, so newly created users on our Profiles-page are no

[2020-07-20 07:37] patrickkaleta commented on #178
Allowing for Showcases to be created directly on PROD is a much faster solution than trying to come up with a way how to import new users into DEV, so that they could then be referenced in Showcases.

@p-a-s-c-a-l and @fgeyer16 is that solution ok for you?

[2020-07-20 07:38] p-a-s-c-a-l commented on #178
O.K. But then we have to prevent users from creating showcases in DEV instance.

[2020-07-20 07:40] patrickkaleta commented on #178
Agreed. I will remove the respective permissions from DEV.

[2020-07-20 08:00] patrickkaleta commented on #154
@mattia-leone @stefanon @martinapizzicato all changes and updates made to the Adaptation options are available on our PROD instance of the CSIS, but Emikat still returns the same results as before. At least in the Table the results haven't changed. I can't currently see any results on the Map. Maybe an issue with Emikat's GeoServer @humerh ?

[2020-07-20 10:49] ghilbrae opened #179 "Making Studies Public"
Is there a way to make a Study public to anonymous users?

I understand that the option when creating a Study and ticking the checkbox in the context tab is to make them public within the CSIS only.

[2020-07-20 11:51] patrickkaleta commented on #179
Yes, this can be done in the [settings](https://csis.myclimateservice.eu/admin/config/csis_helpers/default) for the CSIS helpers module. Just let me know which Study you would like to make accessible even to anonymous users and I can configure it on the PROD site.

[2020-07-21 09:45] patrickkaleta commented on #154
I checked a couple of the Adaptation options in the CSIS and compared the parameters with the Excel sheet provided by @martinapizzicato and I found in roughly half of them either missing or wrong parameters. An extreme example was the _Removable canony Type B_ Adaptation option with wrong **albedo, emissivity, runoff and transmissivity.**
![wrong-parameters-2](https://user-images.githubusercontent

[2020-07-21 09:53] martinapizzicato commented on #154
@patrickkaleta i'm so sorry, maybe i've sent you the old excell file. The right parameters are the ones I loaded on the csis. I'll
immediately send you the correct file.

[2020-07-21 10:45] patrickkaleta commented on #154
Ok thanks for sending the updated version. But even in this new Excel sheet e.g. the albedo for  Trees Type B - Medium Canopy diameter is set to be 0.2, while in the CSIS it was set to 0.6 (I've already corrected that parameter to test the calculation in Emikat), so we need to double-check all the parameters in CSIS to ensure that Emikat is getting the correct values.

[2020-07-21 10:52] martinapizzicato commented on #154
![ALBEDO](https://user-images.githubusercontent.com/64830372/88046787-e3ecf180-cb50-11ea-984a-b143c4afd6f9.jpg)

I don't know why, but maybe you don't see my changes on CSIS (as you can see in the image below they are identical)

[2020-07-21 11:07] patrickkaleta commented on #154
I confused "Trees Type B - Medium canopy" with "Canopy B - Removable Canopy". I was actually talking about "Canopy B - Removable Canopy". For that AO the albedo was set to 0.6 in the CSIS, when it was actually supposed to be set to 0.2. It is now showing the correct value in the CSIS, because I fixed it this morning, while I was reviewing some of the available AOs.

[2020-07-21 11:09] patrickkaleta commented on #154
I checked in total maybe around 6-8 AOs and found a couple of parameters that did not match their expected values based on the provided Excel sheet. I fixed the parameters for those but I don't have the time to now check all of the available AOs and their parameters, so that is something that PLENIVS needs to take care of now.

[2020-07-21 11:21] martinapizzicato commented on #154
@patrickkaleta it's very strange, because I already re-checked the parameters on https://csis-dev.myclimateservice.eu/ and they are the same as the excell.
Which A0 do you see different from those of the file?
If the problem persists we can have a call this afternoon, also with @mattia-leone

[2020-07-21 11:21] p-a-s-c-a-l commented on #154
Are you changing the adaption options on CSIS or CSIS-DEV?

[2020-07-21 11:21] martinapizzicato commented on #154
@p-a-s-c-a-l CSIS-DEV, as I have been told

[2020-07-21 11:24] p-a-s-c-a-l commented on #154
O.K. Apparently @patrickkaleta updated the AOs on [CSIS-DEV](https://csis-dev.myclimateservice.eu/admin/content?title=&type=adaptation_options&status=All&langcode=All&order=changed&sort=desc) and [CSIS PROD](https://csis.myclimateservice.eu/admin/content?title=&type=adaptation_options&status=All&langcode=All&order=changed&sort=desc).

[2020-07-21 11:25] patrickkaleta commented on #154
Yes, I updated the AOs on CSIS-DEV and then synchronized the AOs over to PROD.

[2020-07-21 11:30] patrickkaleta commented on #154
As I already mentioned, it was the [Shading Systems - Removable canopy (Type B)](https://csis.myclimateservice.eu/node/569), which was showing different parameters than the Excel sheet (see screenshot from my previous [comment](https://github.com/clarity-h2020/csis/issues/154#issuecomment-661754280) ). I've than fixed that AO (as well as a couple of others), so now these are showing the correct pa

[2020-07-21 11:34] martinapizzicato commented on #154
![removable](https://user-images.githubusercontent.com/64830372/88050251-c3c03100-cb56-11ea-897d-4dc46a0628d6.jpg)

@patrickkaleta I keep seeing the same parameters

[2020-07-21 11:37] martinapizzicato commented on #154
@patrickkaleta I checked all the other AOs parameters again, and the values match the excell sheet.

[2020-07-21 11:44] patrickkaleta commented on #154
Yes, because you are now already looking at the corrected version of this AO. This morning the albedo was set to 0.6 and I then fixed that so it now says 0.2. On both instances, DEV and PROD, this AO is now showing the correct value in accordance to what is given in the Excel sheet.

[2020-07-21 11:45] patrickkaleta commented on #154
Ok, that's great news. I was probably just unlucky (or lucky) that I stumbled upon an AO with wrong parameters this morning.

[2020-07-21 11:48] martinapizzicato commented on #154
@patrickkaleta maybe it was my mistake, i'm sorry. The important thing is that now all the parameters are right. Let me know if you have any other problems!

[2020-07-21 11:54] patrickkaleta commented on #154
No problem, there are a lot of different parameters and it's not easy to keep track of  all of them. But I'm still not sure that everything is ok now:

![green-pergolas](https://user-images.githubusercontent.com/42167036/88051718-5792fc80-cb59-11ea-9357-f383df73a664.png)

According to the new Excel sheet the Adaptation option [Green pergolas Type C ](https://csis-dev.myclimateservice.eu/node/571)

[2020-07-21 11:55] patrickkaleta commented on #154
...and that was literally the first AO I randomly clicked on and it had a missing parameter. So I wouldn't be surprised if other AOs are also having some missing or wrong parameters.

[2020-07-21 12:00] patrickkaleta commented on #154
Until we are sure that the AOs in the CSIS have all correct parameters, I will temporarilly create a dummy AO directly on PROD, which will only change the Albedo parameter and which we can use to verify the basic functionality of the Emikat calculations. I will pick a very low albedo and apply it to 100% of the area - that way we should definitely get lower temperatures as a result. If that's not

[2020-07-21 13:11] martinapizzicato commented on #154
@patrickkaleta fixed it

[2020-07-21 13:14] patrickkaleta commented on #154
Just this one Adaptation option or are all AOs now double-checked and corrected?

[2020-07-21 13:27] martinapizzicato commented on #154
@patrickkaleta all AOs are corrected

[2020-07-21 13:46] NICDDB commented on #154
Dear all,  as mattia said in the last dev call, we did the same calculation of the adaptation with our local model.
These are the results on some sample cells, showing the improvements in terms of tmrt and utci:

Default landuse (no adaptation option)
![landuse stato di fatto](https://user-images.githubusercontent.com/60875355/88051389-d0de1f80-cb58-11ea-845c-4f5d95673f0e.png)

landuse with adapta

[2020-07-23 13:53] p-a-s-c-a-l commented on #177
Adaptation Map is now implemented on DEV instance and can be tested [here](https://csis-dev.myclimateservice.eu/study/163/step/4896/view/maps):

![image](https://user-images.githubusercontent.com/1788226/88293703-a6789780-ccfb-11ea-8f7c-cbf41ae98831.png)

[Test Template: Adaptation Options Appraisal](https://csis-dev.myclimateservice.eu/node/4869/edit?destination=/admin/content%3Ftitle%3Dtemplate%

[2020-07-23 14:14] p-a-s-c-a-l commented on #154
**FYI:** I've updated HC-LE and IA tables to include all columns and adaptation scenarios when **downloading** the tables as JSON or CSV, so you can now compare adapted vs non-adapted scenarios offline. Map Comparison for IA is also [available](https://github.com/clarity-h2020/csis/issues/177#issuecomment-663020432).

I had some problems calculating adaptation scenarios, but at least [this test st

[2020-07-24 06:41] #148 closed

[2020-07-24 10:32] p-a-s-c-a-l commented on #131
done

[2020-07-24 10:32] #131 closed

[2020-07-24 11:08] p-a-s-c-a-l commented on #170
probably wontfix

[2020-07-24 11:08] #170 closed

[2020-07-24 11:08] #171 closed

[2020-07-24 11:16] p-a-s-c-a-l commented on #177
ATM I'm stuck here until the issues with **aggregated** "[view.2994](https://service.emikat.at/EmiKatTst/api/scenarios/3210/feature/view.2994/table/data)" are fixed and/or with adaptation results [randomly disappearing](https://github.com/clarity-h2020/emikat/issues/17#issuecomment-663459437).

[2020-07-24 13:31] p-a-s-c-a-l commented on #177
[Scenario Analysis](https://csis-dev.myclimateservice.eu/study/163/step/4894/view/scenario-analysis) has been updated on CSIS-DEV. ATM all indicators [available](https://github.com/clarity-h2020/scenario-analysis/issues/24#issuecomment-663535694) in [EMIKAT view.2994](https://service.emikat.at/EmiKatTst/api/scenarios/3207/feature/view.2994/table/data) are shown, Pluvial Flood indicators yet [to co

[2020-07-24 13:34] p-a-s-c-a-l commented on #154
**FYI:** You can know compare Baseline vs adaptation in Scenario Analysis (currently only in DEV-CSIS). See https://github.com/clarity-h2020/csis/issues/177#issuecomment-663539634 for more details.

It seems that HW impact with adaptation is higher than without.

[2020-07-27 06:44] humerh commented on #154
From my point of view I found no Error in calculation implementation.

For the AO "Extensive green roof 100%" the used paramters are:

[2020-07-27 06:50] humerh commented on #154
For example for Layer 9 (DENSE URBAN FABRIC):

T_SURFACE_DELTA:   10 -> 1.38
EMISSIVITY_SURFACE: 0.9 -> 0.96
ALBEDO: 0.25 -> 0.26
TRANSMISSIVITY  0.02  -> 1

Are this realy GOOD values???

[2020-07-27 07:30] patrickkaleta commented on #178
Done. Showcases can be added directly in PROD and no longer on DEV.

[2020-07-27 07:30] #178 closed

[2020-07-27 07:31] p-a-s-c-a-l opened #180 "Documentation"
CSIS Documentation.

[2020-07-27 07:31] patrickkaleta commented on #176
Search radius is working on map and on the "Available Twins" table. Only the "Included Twins" is not affected by the search radius, but that is on purpose. Closing this issue now.

[2020-07-27 07:31] #176 closed

[2020-07-27 07:33] p-a-s-c-a-l commented on #169
Can we close this issue?

[2020-07-27 07:33] p-a-s-c-a-l commented on #166
Can we close this issue?

[2020-07-27 07:33] #174 closed

[2020-07-27 10:01] patrickkaleta commented on #154
For Study 25 I'm currently running the re-calculation with a dumm AS, which features only the albedo parameter set to a very high value (0.86) and is set to be used on 100% of all buildings. Once the calculation is done, we can compare the results between baseline and adapted scenario.

[2020-07-27 10:01] NICDDB commented on #154
Yes @humerh these values are good.

I have just one doubt: for T_SURFACE_DELTA you change value from 10 to 1.38. I don't understand the start value (10), is maybe just a typing mistake?

[2020-07-27 10:11] patrickkaleta commented on #154
Calculations are completed. Looking at the results in the [HC-LE table](https://csis.myclimateservice.eu/study/25/step/3682/view/table) the temperatures stayed mostly the same or in case of T_MRT are sometimes higher in the adapted scenario by 0,01°C. **That seems wrong.**

The adaptation strategy is set to be applied to everything that counts as buildings, which is definitely the case for the sel

[2020-07-27 11:02] DenoBeno opened #181 "Advanced urban screening with EMIKAT calculation type disappeared in CSIS-dev"
I have just noticed that the Advanced urban screening study calculation type has disappeared in csis-dev. Instead of it there is one called BARCELONA RESEARCH SITES.

https://csis.myclimateservice.eu/taxonomy/term/2218 - this is what it should be

![image](https://user-images.githubusercontent.com/2961790/88534903-46d70080-d009-11ea-8ef1-6360537089b1.png)

https://csis-dev.myclimateservice.eu/taxo

[2020-07-27 11:04] DenoBeno commented on #181
Since I'm at it, I'll put it back to original state now. Please don't change it...

[2020-07-27 11:45] DenoBeno commented on #154
Following today's discussion, I have implemented the following:

1. added an "AO Implementation" step. This step should be similar to Risk/Impact assessment, but allow comparison of the situation with and without AOs. Template:  https://csis-dev.myclimateservice.eu/node/5105/edit/template
2. Updated the AO appraisal step so that no data is shown in it.
3. Shortened the labels for all other steps.

[2020-07-27 12:21] humerh commented on #154
If I feed the formula for T_MRT with the same parameters and only increase the ALBEDO, I get always and increased FLUX and T_MRT.

If I study the formula for fluxes and T_MRT, which I harvested from PLINIUS, this behavior is also understandable.

Some typical parts of the formula:

    Alfa  FLOAT := albedo;   -- albedo, considered constant 0.15
    k_in := k_in + G * Alfa * 0.5 * (1 - (Psi_b - (1

[2020-07-27 12:26] humerh commented on #154
Defined FUNCTION in SQL

 create or replace FUNCTION           hw_localeffect_fluxes (
    eta_angle     FLOAT,
    theta_angle   FLOAT,
    t_air         FLOAT,
    t_s           FLOAT,
    gswrad        FLOAT,
    directrad     FLOAT,
    diffuserad    FLOAT,
    albedo        FLOAT,
    emissivity    FLOAT,
    transmissi    FLOAT,
    vegeshadow    SMALLINT,
    buildingsh    SMALLINT,
    hil

[2020-07-27 14:39] DenoBeno commented on #154
FYI, I have started making some help-views to aid with debugging this. First one is: https://csis-dev.myclimateservice.eu/maintenance/local-effects.

Values defined for the T_SURFACE delta are definitely wrong, because some of them are with unit (%), some without unit and some are with "replace value" and other with "mutiply". In addition, some are definitely wrong, see screenshot:

![image](https

[2020-07-27 14:47] mattia-leone commented on #154
Martina said again that she fixed all, but apparently it's not.. in her view she doesn't see these values... maybe it's better you fix it now so that we finalize this steps
From this screenshot:
- First two rows should be erased
- All rows with multiply should be changed with replace value

[2020-07-27 14:48] mattia-leone commented on #154
of course none of them should have % as unit

[2020-07-28 07:20] patrickkaleta commented on #181
@ghilbrae wanted to make some changes for the Studies used by the TM ("Adv. Screening: Transport Infrastr.") a while back (#171). Maybe during those updates this text was also changed by mistake?

[2020-07-28 07:43] humerh commented on #154
My main problem is:
- If we only encrease Albedo, then the formula has the behavior, that also the T_MRT encreases.
- Is this the result, which we expect??

Yesterday Mattia said, the behavior should be the other way.

[2020-07-28 08:54] patrickkaleta commented on #154
In addition to what @DenoBeno added yesterday [showing all the LE parameters individually](https://csis-dev.myclimateservice.eu/maintenance/local-effects), I've now also updated the [Adaptation options overview](https://csis-dev.myclimateservice.eu/maintenance/adaptation-options) in our **Maintenance** tab:
![AO-overview](https://user-images.githubusercontent.com/42167036/88639096-ae9a5380-d0bc-11

[2020-07-28 09:03] mattia-leone commented on #154
Dear @humerh you will get a direct feedback from @stefanon asap, so to explain in detail the "expected effect" of the main parameters on the Tmrt.
Just to be more precise, indeed a higher albedo COULD result in a lower Tmrt BUT albedo is a very peculiar parameter, because in areas where building or vegetation shadow is low, a high albedo can also result in higher Tmrt, since all the radiation refl

[2020-07-28 09:03] patrickkaleta commented on #154
@mattia-leone
I don't think @DenoBeno  has the time to do that and my remaining hours in this project are almost drained, so I can't do this either. Please use the pages that Denis and I created to get a better overview of how the parameters are currently configured in the CSIS and fix everything that is not right. **You will need to double-check, so this is not a one-person-job that can be done a

[2020-07-28 09:09] patrickkaleta commented on #154
@mattia-leone
By "Ts" you mean the Transmissivity parameter? We have currently 5 of those defined in the CSIS (**Transmissivity = 0.25, Transmissivity = 0.97, Transmissivity = 1** and **Transmissivity +10%**). I can change our dummy AS to use a Transmissivity parameter instead of the Albedo parameter, so that Heinrich can check the results of that configuration.

Which value shoud I use for this?

[2020-07-28 09:20] mattia-leone commented on #154
by Ts I mean

T_SURFACE_DELTA | Surface temperature

[2020-07-28 09:24] mattia-leone commented on #154
T_SURFACE_DELTA is the only parameter which you can play with "dummy" adaptation, for all the others the effect on Tmrt is a complex combination of all parameters, and you CANNOT expect that by changing one random parameter you will get a reduction in Tmrt. In fact the adaptation strategies are a careful combination of the different adaptation options, designed to provide the desired Tmrt reductio

[2020-07-28 09:32] mattia-leone commented on #154
I have just personally checked the list here https://csis-dev.myclimateservice.eu/maintenance/local-effects
and corrected the remaining errors.
I can confirm this values are all correct.

[2020-07-28 09:49] patrickkaleta commented on #154
Ok, I will change the dummy AO to include only the T_SURFACE_DELTA parameter.

[2020-07-28 13:02] claudiahahn commented on #159
I have noticed a small mistake and wanted to correct it, but I don't know where to do it.
The templates here: https://github.com/clarity-h2020/csis/issues/159
still have old text in it. So the change probably needs to be done somewhere else.

The following should be changed: under the "hazard characterization" tab: historical period (1971-2000)
as of now it says 1979-2000, which is wrong.

[2020-07-28 13:04] claudiahahn commented on #159
sorry, here is the correct link:
https://csis-dev.myclimateservice.eu/maintenance/gl-templates

[2020-07-28 13:12] patrickkaleta commented on #159
Thanks! It was [this template](https://csis-dev.myclimateservice.eu/node/934) and I've now changed the year to 1971.

[2020-07-28 13:25] claudiahahn commented on #159
Thank you!

However, the text displayed under these templates are slightly different to what one can see on the csis-dev website (https://csis-dev.myclimateservice.eu/study/113/step/3630/view/introduction), which is why I wondering if the text can be changed somewhere else too.

looking at the EU_GL templates listed here: https://csis-dev.myclimateservice.eu/maintenance/gl-templates,
for example,

[2020-07-28 13:39] patrickkaleta commented on #159
Changing the GL-templates does not affect any of the already existing GL-steps in the Studies. Think of the individual GL-steps shown inside the Studies as snapshots, which show the status of the GL-template at the moment when the Study was created. After that point there is no more interaction between the existing GL-step and the template which was used to create it.

**In short:** Changing a tem

[2020-07-28 13:57] patrickkaleta commented on #159
Here we have a rather special case. What you see in Study 113 is the general description for "Exposure Evaluation" as defined for the EU-GL guideline (which is stored [here](https://csis-dev.myclimateservice.eu/taxonomy/term/4/edit?destination=/study/113/step/3632/view/introduction)). But depending on the used Study type, some people wanted to use slightly different texts in each GL-step, we added

[2020-07-28 14:09] claudiahahn commented on #159
ok, thanks for explaining!
I will take care of this, and check the text in each template ... hopefully next week.

[2020-07-28 14:24] p-a-s-c-a-l commented on #177
Now with pluvial flood:

![image](https://user-images.githubusercontent.com/1788226/88678018-495f5600-d0ee-11ea-9a3e-5a43e780710f.png)

[Example Study 25](https://csis-dev.myclimateservice.eu/study/25/step/5110/view/scenario-analysis) on CSIS DEV.

**Note:** Scenario Analysis on PROD-CSIS is **broken** since EMIKAT API changed.

Before I make a new public release, please let me know if you want an

[2020-07-28 15:43] stefanon commented on #154
Hi Heinrich and all

about this problem, yes, it's the expected result. I've checked once more the formulas used in our simplified implementation after the SOLWEIG model described in the article in the reference at the beginning of the script code and the following ones, and the albedo parameter is used in a way that increasing its values leads to a higher Tmrt value. There are references also abo

[2020-07-28 16:03] humerh commented on #154
Thank you for this clarification. This explanation is understandable for me.
So we don't have to modify the formula.
Thanks

[2020-07-29 06:49] p-a-s-c-a-l commented on #154
done

[2020-07-29 08:57] patrickkaleta commented on #154
I noticed someone switched back to "real" AOs in [Study 25](https://csis.myclimateservice.eu/study/25/step/3686/view/table), so I tried another re-calculation of the adapted scenario but I see no differences between baseline and adapted scenario ATM.

HC-LE shows exactly the same results in the table:
![baseline-vs-adapted](https://user-images.githubusercontent.com/42167036/88778846-4d8c8180-d189-

[2020-07-29 09:29] humerh commented on #154
No, the calculation was not stopped, but the kind of calculation of Surface temperature was changed at the last visit in Napoli.

As you see in my script the T_SURFACE_DELTA parameter is not used any more, Instead of using this parameter the temperature correction is only done with T_SURFACE_FACTOR.
Please use this parameter.

--    EMIKATSYS.HW_LOCALEFFECT_FLUXES(ev.ETA, ev.Theta, ev.AIR_TEMP, ev

[2020-07-29 10:22] luis-meteogrid opened #182 "Expert Studies"
We are trying to create the three RESCCUE expert studies and we are finding some difficulties. First one is that should we want to use all the methodology steps the only option we have is to create an advanced screening study. The second an most important one is that we can no create expert studies for cities/regions not available in CSIS.

In RESCCUE one of the cities is Bristol, that is not avai

[2020-07-29 10:23] patrickkaleta commented on #154
@stefanon and @mattia-leone:
In the CSIS all our surface temperature parameters are tagged as `T_SURFACE_DELTA`, which according to Heinrich is no longer used. Should that be changed to make all these parameters labeled as `T_SURFACE_FACTOR`?

The current parameters have values like 1.25, 1.30, 1.44,... which to me looks indeed more like a factor than a delta.

[2020-07-29 11:00] stefanon commented on #154
@patrickkaleta what is used in the calculation for estimate Ts (T soil) from Ta (T air) is a multiplying factor, as in Ts = T_SURFACE_DELTA * Ta , where the name T_SURFACE_DELTA is confusing and linked to past versions.

[2020-07-29 11:48] patrickkaleta commented on #182
Hi @luis-meteogrid,

**Regarding your first problem (available steps in Expert Studies):**
which methodology steps do you need that are currently missing? The both Expert Study types "Expert: Urban infrastructure" and "Expert: Transport Infrastructure" feature all the steps expect for "Hazard Characterization - Local effects", which according to your comment is not even needed. Only the Study type

[2020-07-29 12:11] patrickkaleta commented on #154
Ok I see, so I will rename `T_SURFACE_DELTA` to `T_SURFACE_FACTOR`, since it's a more fitting description and Emikat isn't recognizing `T_SURFACE_DELTA` anymore anyway.

[2020-07-29 13:36] claudiahahn commented on #177
This might be an unqualified comment, but without an explanation of the indicators they'll not be very helpfull for the user.
I have been on vacation, so maybe I have missed the discussion about that. But it seems that the indicators are not explained in any of the tabs under the "Risk/Impact" step. What does heat wave impact mean, or damage class mean?

[2020-07-29 13:47] p-a-s-c-a-l commented on #177
This is a good question. I think this information  is somewhere hidden in [vulnerability](https://csis-dev.myclimateservice.eu/study/25/step/5109/view/table) whereas I'm sure whether is this conceptually consistent or not.

Anyway, this should be explained in the [respective resource](https://csis-dev.myclimateservice.eu/node/1356) so that it is visible on the [RA/IA data tab](https://csis-dev.myc

[2020-07-30 06:50] ghilbrae opened #183 "Request Permissions for User"
Hi! We'd like for user LauraParra to have permissions to create Transport Studies. Thanks!

[2020-07-30 06:57] claudiahahn commented on #177
ah, true. There it is. Thanks @p-a-s-c-a-l
In addition to the explanation in the resource itself, it might also be an option to add a short note next to "indicator" under the Risk/Impact step and to link to the vulnerability site.
something like: "Information about the indicators can be found here"

[2020-07-30 07:59] luis-meteogrid commented on #182
Thank you Patrick. We have already checked that it is possible to select the Bristol Area in Basic Screening studies although there is no Vulnerability step, so we'll be able to create the study, but just to know, is there a possibility of creating expert studies for urban and transport? Our user does not offer that possibility (neither meteogrid, nor Angela), they allow us to choose just among  B

[2020-07-30 08:18] patrickkaleta commented on #183
I gave her the user role of "Expert", which allows her now to create such Studies.

@ghilbrae:
In that regard, Transport Studies (Study type: "**Advanced Screening: Transport Infrastructure**") can currently be created by users with the roles "**Admin**", "**Editor**" or "**Expert**". Is this configuration meant only temporary until this Study type has all the remaining features implemented (e.g.

[2020-07-30 08:26] patrickkaleta commented on #182
My bad, your users didn't have the permissions for the two Expert Study types I was talking about. I fixed that, so now you should be able to create those as well.

[2020-07-30 08:27] patrickkaleta commented on #179
@ghilbrae Can I close this now? Did you have a specific Study in mind, which I should make public for everyone or was this just a general question if something like is even possible at all?

[2020-07-30 08:51] ghilbrae commented on #179
Sure, sorry I forgot.

[2020-07-30 08:51] #179 closed

[2020-07-30 09:31] patrickkaleta commented on #169
###This is what we can do
- Looking at your document I see that your AOs are modelled closely to our initial data model proposed for AOs (so just indicators like +, ++, +++ for effects and costs instead of actual values), so **it would be possible to include your AOs in the CSIS**
- In the [AO Identification step](https://csis.myclimateservice.eu/study/55/step/1957/view/table) we would show the in

[2020-07-30 10:50] ghilbrae commented on #183
The final configuration should allow ordinary users to create Transport Studies.

[2020-07-30 10:53] ghilbrae commented on #169
@patrickkaleta we have discussed this and this approach is perfectly acceptable, we need nothing more and we understand that no calculation will be performed. No problem there.

After discussing the issue with @luis-meteogrid we think it is worth the effort. As such we will upload the AO in the Data Package as soon as possible.

[2020-07-30 12:12] patrickkaleta commented on #169
Perfect! I will adapt the form for creating new AOs to fit your needs and give you a more detailed description on how to add the AOs you've created.

[2020-07-30 12:33] patrickkaleta commented on #169
To create new Adaptation options fitting your needs please use this form: https://csis-dev.myclimateservice.eu/node/add/adaptation_options/ao_simplified

ATM there is no dedicated button to get to this AO form, I will change that later, but for now just use the link above. The default AO form will not suit your needs, since it will ask for concrete numbers for development and retrofitting costs.

[2020-07-31 07:09] luis-meteogrid commented on #182
Tank you Patrick

[2020-07-31 07:09] #182 closed

[2020-08-03 11:34] patrickkaleta commented on #154
After fixing the parameter name, it seems that we are finally getting some good results! Looking at [Study 25](https://csis.myclimateservice.eu/study/25/step/3682/view/table), T-MRT now goes down up to 3 °C in some of the cells:
![adapt-opt-calc](https://user-images.githubusercontent.com/42167036/89178430-da6e7b00-d58d-11ea-8618-7005ebae5845.png)

Resulting map layers look also promising:
- [Adapt

[2020-08-04 07:17] patrickkaleta commented on #154
Who (and how) will do a validation of our current adaptation option calculation results procuded by Emikat? I see that @NICDDB provided an [example](https://github.com/clarity-h2020/csis/issues/154#issuecomment-661871632) of their calculations, so maybe we can just create a Study in CSIS covering the same area and use the same adaptation strategies as applied in his example? @NICDDB for which city

[2020-08-04 08:53] NICDDB commented on #154
Us example calculation was made in Naples on calata capodichino street, near the airport.
I create a new study on CSIS where i've selected the same study area and i've add @patrickkaleta as owner.

[2020-08-04 11:36] DenoBeno commented on #154
I am looking at this now:

https://csis-dev.myclimateservice.eu/study/25/step/5113/view/table

Sort by number of people living in the area and inspect the results,
please.

1) many densely populated areas have no AOs
2) changes in mortality are minimal.

I did choose the adaptation strategies that are mainly targeting floods,
but this doesn't look correct.

On Mon, 3 Aug 2020, 13:35 Patrick Kaleta

[2020-08-04 12:24] mattia-leone commented on #154
Guys hope you can fix all this. At the moment I am working in finalizing D2.4 by Friday August 7th, since after that PLINIVS team will be on vacation and won't be available anymore until the end of the project, except answering the phone and reading emails from time to time.
I don't think that given the current status of impact and adaptation calculation I will be able to integrate the CSIS output

[2020-08-04 12:36] p-a-s-c-a-l commented on #154
You can also check AO calculation on [this map](https://csis-dev.myclimateservice.eu/apps/map-component/build/SynchronisedRiskAndImpactMap/?host=https://csis-dev.myclimateservice.eu&study_uuid=9359e741-df40-4bcd-9faf-2093b499c65c&study_area=POLYGON%20((16.346111%2048.223997,%2016.346111%2048.238634,%2016.376667%2048.238634,%2016.376667%2048.223997,%2016.346111%2048.223997))&emikat_id=3183&datapack

[2020-08-04 12:53] mattia-leone commented on #154
I guess that the most important thing is to have our toy working for the final review. About this, you can count on our support in September of course.
@p-a-s-c-a-l one question, can I make a new study in Napoli and test the adaptation strategies?
I created a new study in the dev version (https://csis-dev.myclimateservice.eu/study/171/view/intro) and edited all the needed data but the calculation

[2020-08-04 12:57] p-a-s-c-a-l commented on #154
@mattia-leone Sorry, EMIKAT calculation is disabled on **CSIS-DEV**, you have to https://csis.myclimateservice.eu. But I don't know if we have already latest version of CSIS-DEV published on CSIS @patrickkaleta ?

[2020-08-04 13:00] mattia-leone commented on #154
ah ok, actually I supposed so, but saw Denis' study on Vienna with all the adaptation steps included, so I thought it was ready also for Napoli. Let me know if we can make it, as said I have time until Friday, then again in September to support final review preparation (which is much more important than deliverables when it comes to the CSIS!!)

[2020-08-04 13:03] patrickkaleta commented on #154
No, not yet. I think it will be available later today or tomorrow. Currently I'm testing the updated Group module after discovering [this issue](https://github.com/clarity-h2020/csis-technical-validation/issues/111#issuecomment-668016939) yesterday. The two Views in question have already been fixed, but since the Groups module plays such a major role in the CSIS I need to check the other Views as

[2020-08-05 08:37] p-a-s-c-a-l commented on #181
resolved

[2020-08-05 08:37] #181 closed

[2020-08-05 14:40] patrickkaleta opened #184 "Cleaning up Study templates"
I just now performed another sync from DEV to PROD, but had to leave out the content synchronization for our GL-templates and Study types due to various problems that need to be addressed/fixed:
- [x] 1) Get rid of wrong UUIDs
- [x] 2) Fix incoherent GL-template assignments to Study types
- [x] 3) Fix wrongly changed Study type descriptions
- [x] 4) Update Adv. Screening: Urban Infrastructure Stud

[2020-08-05 14:40] patrickkaleta commented on #184
### 1) Wrong UUIDs?
6 of our GL-templates have malformed UUIDs and exactly for those 6 the synchronization to PROD fails (content is looked up based on its UUID and I suppose these wrong looking UUIDs cannot be matched to the appropriate content on PROD)
![wrong-uuids](https://user-images.githubusercontent.com/42167036/89423566-f3fef680-d736-11ea-8fb7-8d0c3296f6ac.png)

I have no idea how somethin

[2020-08-05 14:41] patrickkaleta commented on #184
### 2) Assignments of GL-templates to Study types is incoherent and needs to be fixed.
Each Study type should IMO only contain GL-templates that were build explicitly for that particular Study type. Sharing one and the same GL-template among e.g. Expert and Screening Studies is dangerous can lead to unwanted side-effects should we ever change that template.
![wrong-templates](https://user-images.g

[2020-08-05 14:46] patrickkaleta commented on #184
### 3) Wrong Study type descriptions

During the attempt to synchronize the Gl-templates I noticed that the Study type description for [Adv. Screening: Urban Infrastructure](https://csis-dev.myclimateservice.eu/taxonomy/term/1159/edit) was suddenly mentioning the RESCCUE project and Barcelona.

@ghilbrae is it possible that you changed that description by mistake and that it was actually meant for

[2020-08-05 14:54] patrickkaleta commented on #184
### 4) Updating the Adv. Screening: Urban Infrastructure Study type according to new Test template

@DenoBeno was working on the additional AO steps in a Test Study template (which he renamed to "[TEST] Advanced Urban Screening new"). If this is now complete, I suggest that the actual "Adv. Screening: Urban Infrastructure" Study type is now updated in accordance to this Test Study template, so tha

[2020-08-05 14:56] patrickkaleta commented on #184
I will try to get all of this done by the end of the week, so that I can synchronize the remaining content (GL-templates and Study types) from DEV to PROD.

[2020-08-05 15:04] patrickkaleta commented on #154
Synchronization from DEV to PROD is done, but I wasn't able to synchronize our GL-templates and the Study types (see #184 for details).

@mattia-leone nonetheless you should now be able to check the adaptation strategies in Napoli. I created [this Study](https://csis.myclimateservice.eu/study/195/view/intro) on PROD and made you the owner of it. Let me know if you have any troubles working with it

[2020-08-05 16:47] mattia-leone commented on #154
Hi Patrick, just read the message. I have now triggered the calculation and waiting for the results.
Let you know my... feelings ;)

[2020-08-05 17:28] mattia-leone commented on #154
<img width="1280" alt="Schermata 2020-08-05 alle 19 25 09" src="https://user-images.githubusercontent.com/56071027/89444028-667cd000-d751-11ea-8a64-e15adda8e09c.png">
A first strange thing is the flood local effect, which has some "holes" as in the screen attached. And the right map panel does not display any local results, but only the land use layers.

[2020-08-05 17:41] mattia-leone commented on #154
apart from the holes, I think the flood local effect is not correct. It displays red cells up on the hill, while it should be the opposite. @stefanon maybe @patrickkaleta and/or @humerh have inverted the classification of some layers?

[2020-08-05 17:41] mattia-leone commented on #154
<img width="1280" alt="Schermata 2020-08-05 alle 19 30 09" src="https://user-images.githubusercontent.com/56071027/89444520-181c0100-d752-11ea-9055-2bbddfd938e6.png">
also here right map panel does not display results.
I see also some mismatches in the layers that are visualized here.
Risk/Impact maps should be limited to:
- Mortality rate increase (Heat Waves)
- Outdoor discomfort (Heat Waves) -

[2020-08-06 07:06] ghilbrae commented on #184
I don't think so, RESCCUE studies are related to the cities as a whole and not just transport infrastructures. I know that my colleague changed the descriptions of at least one of the RESCCUE studies, so that might be the issue here.

We are still working on these studies will they be correctly migrated to the PROD environment?

[2020-08-06 08:48] p-a-s-c-a-l commented on #154
The right **HC-LE** map is currently configured to show the **adapted scenario** which has not bee calculated. I'm, aware that for the user it's not obvious where and when adaption scenarios are are shown. The new [AO appraisal step](https://github.com/clarity-h2020/csis/issues/177) introduced some inconsistencies which I don't know how to resolve even at conceptual level. Anyway, I can change tha

[2020-08-06 09:18] mattia-leone commented on #154
hi @p-a-s-c-a-l thanks for the info. now i triggered the calculation, and indeed the right panel is showing the effect of adaptation strategies.
I think it is ok, the most useful thing to display on the right panel, because it makes easy the comparisons. Maybe a text that explain that left scenario is no adaptation and the right is adaptation would increase user friendliness

this seems ok for hea

[2020-08-06 11:21] p-a-s-c-a-l commented on #154
If you are talking about PF_RESIDENTIAL_BUILDINGS;PF_NON_RESIDENTIAL_BUILDINGS;PF_ROADS_M2, I don't know if those are Economic impacts in €.  Perhaps @humerh can clarify. Those columns aren't available in EMIKAT GeoServer anyway, so @humerh would have to create the respective styles first.

[2020-08-06 12:23] mattia-leone commented on #154
ok, I ask @humerh also to double check if the classification and style of the layer "flood damage class" is correct with respect to what indicated by @stefanon and me. I see almost everything red on that layer, while the damage in euro is much more diversified and more in line with the results I would expect in terms of impact.
I really don't understand the meaning of the "flood damage class" laye

[2020-08-07 07:26] patrickkaleta commented on #159
Maybe a question to you @claudiahahn:

I [recently noticed](https://github.com/clarity-h2020/csis/issues/184#issuecomment-669747889) that on DEV the [description](https://csis-dev.myclimateservice.eu/taxonomy/term/1159/edit) for the "Advanced Screening: Urban Infrastructure" Study type was changed. This is the original [description](https://csis.myclimateservice.eu/taxonomy/term/1159/edit) current

[2020-08-07 07:26] patrickkaleta commented on #184
So you think this is ok and that this Study type should have this description?

[2020-08-07 07:27] patrickkaleta commented on #184
Study types and the GL-templates that they use will be migrated to PROD. Actual instances of these Studies (Study X with GL-step Y) are not synchronized between DEV and PROD.

[2020-08-07 07:41] claudiahahn commented on #159
Thank you @patrickkaleta for pointing it out!
The description currently on the PROD is the correct one for a new "advanced screening: urban infrastructure" study and should not be replaced.

The one on the DEV system is very specific and focuses on the RESCCUE project. I guess it is supposed to be a description for the RESCCUE data package? We should not delete it but copy the text and figures to

[2020-08-07 07:51] ghilbrae commented on #184
I'm sorry if I did not express myself correctly or if I misunderstood the question. I don't think that the general or default description should change in anyway or add extra content to account for RESCCUE stuff. These changes were meant to be only applied to RESCCUE studies (which are Urban studies) as they are quite specific and have nothing to do with the EU-GL. Also the people from RESCCUE wan

[2020-08-07 07:51] ghilbrae commented on #184
I'm sorry if I did not express myself correctly or if I misunderstood the question. I don't think that the general or default description should change in anyway or add extra content to account for RESCCUE stuff. These changes were meant to be only applied to RESCCUE studies (which are Urban studies) as they are quite specific and have nothing to do with the EU-GL. Also the people from RESCCUE wan

[2020-08-07 07:51] ghilbrae commented on #184
I'm sorry if I did not express myself correctly or if I misunderstood the question. I don't think that the general or default description should change in anyway or add extra content to account for RESCCUE stuff. These changes were meant to be only applied to RESCCUE studies (which are Urban studies) as they are quite specific and have nothing to do with the EU-GL. Also the people from RESCCUE wan

[2020-08-07 07:52] patrickkaleta commented on #159
That's what I thought as well...

No, but I'm guessing that it was someone from Meteogrid. I will talk to them and ask them to "move" that description to a RESCCUE-specific Study.

My goal was to do it later today, but maybe I'll do it over the weekend or on Monday. So, if you want to first check and update the texts, go ahead and I'll wait.

[2020-08-07 07:54] claudiahahn commented on #159
Thank you! I will have a look at it now.

[2020-08-07 07:58] patrickkaleta commented on #184
Ok thanks, now it's clear. So please take that description and place it directly in a RESCCUE-specific Study on **PROD** (since as mentioned before, individual Studies are not migrated from DEV to PROD). I will restore the previous description of that Study type, but I don't want you to lose the texts. Let me know once this is done, so that I can restore the old description.

[2020-08-07 08:01] ghilbrae commented on #184
OK, we'll do that. Just a question. Do we have to recreate the RESCCUE data packages too or can they be migrated?

[2020-08-07 08:07] patrickkaleta commented on #184
Data packages will be migrated, don't worry. They are the main reason why we even created the synchronization between DEV and PROD :)

[2020-08-07 08:07] ghilbrae commented on #184
Thanks!!!

[2020-08-07 08:38] patrickkaleta commented on #184
@ghilbrae  A bit of topic, but Study scenarios are not used in TM Studies right? I should fully remove this block, since it's not necessary:
![scenarios-in-tm](https://user-images.githubusercontent.com/42167036/89626728-1bba9f80-d89a-11ea-9398-427fa4b8fb10.png)

[2020-08-07 09:17] claudiahahn commented on #159
I just noticed, that when creating a new study and selecting _Advanced screening: Urban Infrastructure_, a study is created but without a “hazard characterization - local effect” tab: https://csis-dev.myclimateservice.eu/study/173/view/intro

Also I cannot change the [templates](https://csis-dev.myclimateservice.eu/maintenance/gl-templates) for _Advanced Screening: Urban Infrastructure_
In this li

[2020-08-07 09:19] claudiahahn commented on #159
[Study Introduction text](https://csis-dev.myclimateservice.eu/study/173/view/intro) for all study types should be updated!!
As default, the text stored under _EU-GL_ is displayed, but this should just be kept as an option.

It should automatically / initially display the text and figures currently stored under “Advanced Screening Methodology” when selecting the “change description” button. The te

[2020-08-07 09:24] patrickkaleta commented on #159
You're right, thanks for noticing. Someone removed the HC-LE step from the [Study type steps](https://csis-dev.myclimateservice.eu/taxonomy/term/1159/edit?destination=/admin/structure/taxonomy/manage/study_type/overview).

I suppose this might have been (accidentally) done by @DenoBeno? Nonetheless, Denis was working on a new version of the Adv. Screening: Urban Infrastructure Study type [here](ht

[2020-08-07 09:34] claudiahahn commented on #159
ok. Thank you.
The text in these steps is old too, I cannot change it though.

I will create a word document and put all the necessary changes in there.

[2020-08-07 09:35] ghilbrae commented on #184
That's correct, we are not using Scenarios in the TM studies.

[2020-08-07 09:36] patrickkaleta commented on #184
Thanks, I'll take care of removing that block from TM Studies.

[2020-08-07 09:56] patrickkaleta opened #185 "Show "Select Study Scenario" Block only for Study types which require them"
This block is currently shown in every Study, even if the Study type does not support or doesn't require the use of Study scenarios:
![scenarios-in-tm](https://user-images.githubusercontent.com/42167036/89633602-5d504800-d8a4-11ea-8fd2-a43fd97c2f64.png)

This block is created by this [View](https://csis-dev.myclimateservice.eu/admin/structure/views/view/view_presets_and_edit/edit/block_2), which i

[2020-08-07 09:59] patrickkaleta commented on #185
Done

[2020-08-07 09:59] #185 closed

[2020-08-07 10:00] patrickkaleta commented on #184
Done in #185.

[2020-08-07 10:01] DenoBeno commented on #184
Is there some issue with templates synchronization or do you simply want the naming fixed in dev instance?

I'll look at the dev instance and make sure that templates are assigned correctly and named correctly. Should be done in 15 min.

[2020-08-07 10:01] patrickkaleta commented on #184
No need to, I'm already working on it.

[2020-08-07 10:02] patrickkaleta commented on #184
And yes, there is an issue with the synchronization. Probably because some of our GL-templates have weird UUIDs (see [here](https://github.com/clarity-h2020/csis/issues/184#issuecomment-669233086)). So that's why I'm going to re-create those Nodes.

[2020-08-07 10:03] DenoBeno commented on #184
OK, then I'll let it be.

Just one thing: I am not sure if Pascal has updated the templates or the step files used in https://csis-dev.myclimateservice.eu/study/25/view/intro or both. They *should* have the same fields, so it's a good idea to cross check this.

[2020-08-07 10:05] DenoBeno commented on #184
https://csis-dev.myclimateservice.eu/study/25/step/5113/view/maps is missing the possibility to choose scenario.

[2020-08-07 10:09] DenoBeno commented on #184
And the difference between "with" and "without" AOs is still really minor. Zero changes for the flood. I'll restart the calculation to see if this improves things.

![image](https://user-images.githubusercontent.com/2961790/89635119-cafd7380-d8a6-11ea-8655-520746e23e97.png)

[2020-08-07 10:26] DenoBeno commented on #184
Generating new files based on templates is trivial. I have encountered issues with cloning, but if you make a new study you will have new files. Just a few fields get changed, but that's easily edited back in "edit as template" mode.

One more thing: deleting a study doesn't delete gl steps. Good to know.

[2020-08-07 10:57] ghilbrae commented on #184
@patrickkaleta I've copied the descriptions from DEV to PROD, so they should be safe now.

Should we keep working on DEV or do we switch to PROD? My colleague @LauraMTG is still working on both the DPs and studies for Barcelona and Bristol.

[2020-08-07 11:28] patrickkaleta commented on #184
Ok thanks!

Well, in general the majority of content (DPs, resources, Gl-templates, etc.) will be synchronized from DEV to PROD (this happens around once or twice per month) with only a couple of exceptions:

- actual Study instances (so e.g. Study 55 - Study: A-2 Madrid-Barcelona section Acciona Guadalajara) are not synchronized. **Reason:** Studies are also stored in external systems (like Emika

[2020-08-07 11:33] ghilbrae commented on #184
Thanks for the explanation it is much clearer now.

[2020-08-07 11:45] p-a-s-c-a-l commented on #180
@fgeyer16 Please update [readme.md](https://github.com/clarity-h2020/csis/#myclimateservices-profile-service) and provide a description for profiles service and single-sign-on. See [ckan](https://github.com/clarity-h2020/ckan/blob/csis-dev.ait.ac.at/README.md) or [docker-drupal](https://github.com/clarity-h2020/docker-drupal/blob/dev/README.md) for an example. This is also important input for deli

[2020-08-07 11:49] p-a-s-c-a-l commented on #180
@humer: Please update [emikat/readme.md](https://github.com/clarity-h2020/emikat/blob/master/README.md) and [csis/readme.md](https://github.com/clarity-h2020/csis/blob/master/README.md#ait-emikat) and provide implementation and deployment description for EMIKAT. See [ckan](https://github.com/clarity-h2020/ckan/blob/csis-dev.ait.ac.at/README.md) or [docker-drupal](https://github.com/clarity-h2020/d

[2020-08-07 11:54] p-a-s-c-a-l commented on #180
@DanielRodera Please update [readme.md](https://github.com/clarity-h2020/csis/blob/master/README.md#atos-geoserver) and provide deployment description for ATOS GeoServer. See [ckan](https://github.com/clarity-h2020/ckan/blob/csis-dev.ait.ac.at/README.md) or [docker-drupal](https://github.com/clarity-h2020/docker-drupal/blob/dev/README.md) for an example.

[2020-08-07 11:56] p-a-s-c-a-l commented on #180
@ghilbrae Please update [readme.md](https://github.com/clarity-h2020/csis/blob/master/README.md#meteogrid-transport-application) and provide a description for the Transport Application. See [ckan](https://github.com/clarity-h2020/ckan/blob/csis-dev.ait.ac.at/README.md) or [docker-drupal](https://github.com/clarity-h2020/docker-drupal/blob/dev/README.md) for an example.

This is also important inpu

[2020-08-07 12:03] patrickkaleta commented on #184
I re-created those templates that had faulty UUIDs. The wrong onces are still available in the system, but I've unchecked the `is_template` checkbox, so these elements will no longer be synced onto PROD. Once it's confirmed that the new templates were created correctly, I'll remove the faulty templates for good.

[2020-08-07 12:10] patrickkaleta commented on #184
Done. Each Study type with the expection of Expert Studies have their very own set of templates:
![correct-templates](https://user-images.githubusercontent.com/42167036/89644197-ae1d6c00-d8b7-11ea-9e13-45bf3f42d3c3.png)

IMO the difference for the different types of Expert Studies is the configuration of available EU-GL steps, though I noticed that Expert: UI and Expert: TI share the exact same st

[2020-08-07 12:10] patrickkaleta commented on #184
This is fixed. The description on DEV was changed by mistake. I've reverted the description back to what is was supposed to be.

[2020-08-07 12:11] patrickkaleta commented on #184
Done. Though the question remains whether this new configuration is already final or whether it needs to be further improved?